<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [fixedInViewport]="'Fixed'" opened >
    <app-navbar-user></app-navbar-user>

  </mat-sidenav>
  <mat-sidenav-content>

    <button mat-button (click)="sidenav.toggle()">
      <div *ngIf="!sidenav.opened">

        <img src="https://img.icons8.com/ios-glyphs/30/000000/sorting-options.png"/>
      </div>

      <div *ngIf="sidenav.opened">
        <img src="https://img.icons8.com/ios-glyphs/30/000000/sorting-options.png"/>
      </div>
  </button>

    <div class="container">
      <br>
      <br>
      <div class="row">
        <div class="col-3">
          <app-simulation> </app-simulation>
        </div>

        <div class="col-3">
          <app-scenario-name></app-scenario-name>
        </div>

        <div class="col-3">
          <label for="scenarioId"> Scenario id </label>
          <input class="form-control" type="text" placeholder="id_simulation" readonly>
        </div>

        <div class="col-3">
          <div class="container">
            <br>
            <button type="button" class="btn btn-primary">Save Changes</button>
          </div>

        </div>

      </div>

      <br>
      <div class="row">
        <div class="col-3">
          <app-animal-species> </app-animal-species>
        </div>

        <div class="col-3">
          <app-medication></app-medication>
        </div>

        <div class="col-3">
          <app-arrhythmia></app-arrhythmia>
        </div>

      </div>

      <div class="row">
        <div class="col-3">
          <app-simulation-description></app-simulation-description>
        </div>

      </div>


      <br>
      <br>
      <div class="row">
        <div class="col-3">
          <app-scenarios></app-scenarios>
        </div>
      </div>


    </div>

  </mat-sidenav-content>


</mat-sidenav-container>



