.navbar {
    background-color: #8e7cc3;
    opacity: 100%;
    z-index: 20;
    height: 70px;
}

.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:link,
.dropdown-toggle:focus,
.dropdown-toggle:focus-visible,
.dropdown-toggle:visited {
    background-color: transparent !important;
    border: 0px !important;
}

.dropdown-menu {
    background-color: #8e7cc3;
}

.dropdown-menu a {
    color: #fff;
}

.dropdown-menu a:hover {
    color: #616161;
}