.text-label {
    font-size: 22px;
}

.btn-replace-curves {
    margin-left: 2%;
    margin-top: 5px;
    background-color: #59478d;
    border-color: #59478d;
    color: #fff;
}

.btn-replace-curves:hover {
    color: #59478d;
    margin-top: 5px;
    border-color: #fff;
    background-color: #fff;
}

.color-picker {
    padding: 0;
    width: 30%;
}

.form-check-input {
    margin-left: 2px;
}

label {
    width: 100%;
}

.rate-value {
    padding: 1.3em;
    font-weight: bold;
}
