<div class="row">
    <div class="col text-right">
        <button class="btn btn-primary save-changes" (click)="onLoadScenarios()" disabled *ngIf="!animal"> Load
            Scenarios </button>

        <button class="btn btn-primary save-changes" (click)="onLoadScenarios()" *ngIf="animal"> Load Scenarios
        </button>

    </div>
</div>

<table class="table table-hover table-scenarios">
    <thead class="thead-dark">
        <tr>
            <th scope="col">

            </th>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                Description
            </th>
            <th scope="col">
                Arrhythmias
            </th>
            <th scope="col">
                Pathologies
            </th>
            <th scope="col">
                Medications
            </th>
            <th scope="col">

            </th>
            <!-- <th scope="col">

            </th> -->
        </tr>
    </thead>

    <tbody *ngIf="scenariosSelected && scenariosSelected.length > 0">
        <tr *ngFor="let scenario of scenariosSelected; let i = index">
            <td scope="row" class="td-icons">
                <ng-template [ngIf]="isActiveScenario(i)">
                    <button class="btn btn-ligth btn-activate" (click)="onActiveScenario(i)">
                        <img src="https://img.icons8.com/fluency/24/000000/play.png" />
                    </button>
                </ng-template>
                <ng-template [ngIf]="!isActiveScenario(i)">
                    <button class="btn btn-link btn-activate" (click)="onActiveScenario(i)">
                        <img
                            src="https://img.icons8.com/external-bearicons-blue-bearicons/24/000000/external-play-essential-collection-bearicons-blue-bearicons.png" />
                    </button>

                </ng-template>

            </td>

            <td scope="row" class="td-name">
                {{scenario?.name}}
            </td>
            <td scope="row" class="td-descr">
                {{scenario?.description}}
            </td>
            <td scope="row" class="td-arr">
                <ng-template [ngIf]="scenario.arrhythmias">
                    {{scenario.arrhythmias | arrayJson}}
                </ng-template>
                <ng-template [ngIf]="!scenario.arrhythmias">
                    -
                </ng-template>

            </td>
            <td scope="row" class="td-path">
                <ng-template [ngIf]="scenario.pathologies">
                    {{scenario.pathologies | arrayJson}}
                </ng-template>
                <ng-template [ngIf]="!scenario.pathologies">
                    -
                </ng-template>
            </td>
            <td scope="row" class="td-med">
                <ng-template [ngIf]="scenario.medications">
                    {{scenario.medications | arrayJson: 'medications'}}
                </ng-template>
                <ng-template [ngIf]="!scenario.medications">
                    -
                </ng-template>
            </td>
            <td scope="row">
                <!-- <span> -->
                <button class="btn btn-trash btn-light" (click)="onDelete(i)">
                    <img src="https://img.icons8.com/color/26/000000/trash--v1.png" />
                </button>
                <!-- </span> -->
            </td>

        </tr>


    </tbody>

    <!-- No items found -->
    <tbody *ngIf="!scenariosSelected || scenariosSelected.length == 0">
        <tr>
            <td colspan="12">
                There are not scenarios availables.
            </td>
        </tr>
    </tbody>
    <!-- / No items found -->
