<div class="container">
    <div class="animal-header">
        <div class="row">
            <div class="col-md-8">
                <h3 class="title"> Animals </h3>
            </div>
            <div class="col text-right">
                <button class="btn btn-primary btn-add" (click)="onEdit()"> + Animal Specie </button>
            </div>
        </div>
    </div>
    <div class="search-form row">
        <div class="col-10">
            <form class="form mt-3" [formGroup]="formGroup" (ngSubmit)="onSearch()">
                <div class="form-row">
                    <div class="form-group col-md-auto">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control mr-1" formControlName="name">
                    </div>

                    <div class="form-group col-md-auto">
                        <label for="description">Description</label>
                        <input type="text" id="description" class="form-control mr-1" formControlName="description">
                    </div>
                    <div class="form-group col-md-4 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary btn-large btn-search">Search</button>
                        <button class="btn btn-link btn-clear" (click)="onClearSearch()"><i class="fa fa-times"
                                aria-hidden="true"></i></button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="container">
    <div class="row mt-3">
        <div class="col table-bg">
            <table class="table table-animals table-hover">
                <thead class="thead-dark">
                    <tr>

                        <th scope="col">
                            Name
                        </th>
                        <th scope="col">
                            Description
                        </th>
                        <th scope="col">
                            Last update
                        </th>
                        <th scope="col">
                            <!-- For edit -->
                        </th>
                        <!-- <th scope="col">
                             For delete -->
                        <!-- </th> -->

                    </tr>
                </thead>

                <!-- Loading -->
                <tbody *ngIf="isLoading()">
                    <tr>
                        <td colspan="7">
                            Loading...
                        </td>
                    </tr>
                </tbody>
                <!-- / Loading -->

                <!-- Listing -->
                <tbody *ngIf="!isLoading() && animalSpecies">
                    <tr *ngFor="let animalSpecie of animalSpecies; let i = index">
                        <td scope="row">
                            {{animalSpecie.name}}
                        </td>
                        <td scope="row">
                            {{animalSpecie.description}}
                        </td>
                        <td scope="row">
                            {{animalSpecie.updated_at | date}}
                        </td>
                        <td scope="row" class="text-right">
                            <button class="btn btn-light" (click)="onEdit(i)">
                                <img
                                    src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/26/000000/external-pencil-interface-kiranshastry-lineal-color-kiranshastry-1.png" />
                            </button>
                            <span>
                                <button class="btn btn-trash btn-light ml-2" (click)="onDelete(i)">
                                    <img src="https://img.icons8.com/color/26/000000/trash--v1.png" />
                                </button>
                            </span>
                        </td>

                    </tr>
                </tbody>
                <!-- / Listing -->

                <!-- No items found -->
                <tbody *ngIf="!isLoading() && (!animalSpecies || animalSpecies.length === 0)">
                    <tr>
                        <td colspan="7">
                            Nothing to show you.
                        </td>
                    </tr>
                </tbody>
                <!-- / No items found -->

            </table>

        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-2">
            <ngb-pagination *ngIf="!isLoading() && (count > queryOptions.pageSize)" [collectionSize]="count"
                [(page)]="queryOptions.page" [maxSize]="15" [ellipses]="true" [pageSize]="queryOptions.pageSize"
                (pageChange)="onPageChange()">
            </ngb-pagination>
        </div>

    </div>

</div>
