<div class="modal-header title">
    <h3 class="text-center">Choose Simulation</h3>
</div>


<div class="modal-body">

    <div class="col">

        <form class="form">
            <table class=" table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            <!-- Select -->
                        </th>
                        <th scope="col">
                            Name
                        </th>
                        <th scope="col">
                            Description
                        </th>
                        <th scope="col" class="col-animal">
                            Animal
                        </th>
                        <th scope="col" class="updated-at">
                            Latest update
                        </th>


                    </tr>
                </thead>


                <!-- Listing -->
                <tbody *ngIf="simulations">
                    <tr *ngFor="let simulation of simulations; let i = index">
                        <td scope="row submit">
                            <button type="submit" class="btn btn-primary btn-submit" (click)="onSubmit(i)">
                                Select
                            </button>
                        </td>
                        <td scope="row">
                            {{simulation.name}}
                        </td>
                        <td scope="row">
                            {{simulation.description}}
                        </td>
                        <td scope="row" class="col-animal">
                            {{simulation.animalSpecie.name}}
                        </td>
                        <td class="updated-at" scope="row">
                            {{simulation.updated_at | date }}
                        </td>
                    </tr>
                </tbody>
                <!-- / Listing -->

                <!-- No items found -->
                <tbody *ngIf="(!simulations || simulations.length === 0)">
                    <tr>
                        <td colspan="7">
                            Nothing to show you.
                        </td>
                    </tr>
                </tbody>
                <!-- / No items found -->

            </table>

            <div class="modal-footer">
                <button class="btn btn-danger" (click)="onCancel()"> Close </button>
            </div>

        </form>
    </div>
</div>
