.title h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #212529;
    text-align: center;
    width: 100%;
}

.modal-header,
.modal-body {
    background-color: #b7a9e2;
    width: 100%;
}

.updated-at {
    visibility: collapse;
}

.modal-header {
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
}

.table-hover tbody tr:hover {
    background-color: #616161;
}

.btn-submit {
    background-color: #42336e;
}

.row .submit {
    max-width: 10px;
}

.col-animal, .updated-at {
    display: none;
}

@media (min-width: 1024px) {
    .updated-at {
        visibility: initial;
    }
    .modal-header,
    .modal-body {
        min-width: 600px;
    }

    .col-animal, .updated-at {
        display: table-cell;
    }
}
