<div class="container-fluid" *ngIf="currentState?.curves.length > 0 else noSimulation">
    <div class="row justify-content-between">
        <div class="col-5">
            <p class="text-left">
                <!-- {{ today | date: "medium" }} -->
                <span *ngIf="animalSpecie" class="text-animal-specie">
                    {{ animalSpecie.name }} - {{currentState.scenario.description | scenarioText }}
                </span>
            </p>
        </div>
        <div class="col-4 alarms-off">
            <ng-template [ngIf]="currentState?.action === 'stop' || newCurrentState?.action === 'stop'">
                <h4 class="text-center"><img src="/assets/icons/stop-1.png" class="img-status" />Simulation
                    stopped

                </h4>

            </ng-template>

            <ng-template [ngIf]="currentState?.action === 'pause' || newCurrentState?.action === 'pause'">
                <h4 class="text-center"><img src="/assets/icons/pause-1.png" title="Freeze simulation"
                        class="img-status" />Simulation
                    paused</h4>
            </ng-template>

            <ng-template
                [ngIf]="currentState?.action !== 'stop' && calculatingNIBP  && (currentState?.action !== 'pause' || newCurrentState?.action !== 'pause')">
                <h4 class="text-center"><img src="/assets/icons/nibp-small.png" class="img-status" /> NIBP in progress
                </h4>

            </ng-template>
            <ng-template
                [ngIf]="currentState?.action !== 'stop' && !calculatingNIBP && (currentState?.action !== 'pause' || newCurrentState?.action !== 'pause') && getSystolicNIBP()" >
                <h4 class="text-center"><img src="/assets/icons/nibp-small.png" class="img-status" /> {{getDiastolicNIBP()}} / {{getSystolicNIBP()}} ({{getMeanNIBP()}})
                </h4>

            </ng-template>

        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-5 temperature-div">
                    <p class="text-left temperature" *ngIf="getParameterInfo() && getParameterInfo().temperature"> <img src="/assets/icons/temperature.png"  /> {{getParameterInfo().temperature}} °C
                </div>
                <div class="col-2 fullScreen">
                    <p class="text-left" *ngIf="(currentState.muteAlarms || newCurrentState.muteAlarms) &&
                        (currentState?.action !== 'stop' || newCurrentState?.action !== 'stop') && (currentState?.action !== 'pause' || newCurrentState?.action !== 'pause')"><img src="/assets/icons/mute-1.png" />
                    </p>
                </div>
                <div class="col-5 fullScreen">
                    <p class="full-screen" *ngIf="!isFullScren()"> <a class="btn btn-link" (click)="openFullscreen()" ><img src="/assets/icons/fullscreen.png" />
                        FS</a></p>
                    <p class="full-screen" *ngIf="isFullScren()"> <a class="btn btn-link" (click)="closeFullscreen()" >
                            <img src="/assets/icons/exitFS.png" />Exit </a> </p>

                </div>

            </div>


        </div>


    </div>

    <div class="row">
        <app-audio *ngIf="currentState?.action !== 'stop' ||
                            newCurrentState?.action !== 'stop'" [play]="true" [src]="'/assets/sounds/monitor.mp3'">
        </app-audio>
        <app-audio [play]="enableSoundAlarm" [src]="'/assets/sounds/alarmLimit.mp3'" [playRate]=1>
        </app-audio>


        <div class="container-fluid">

            <div class="row">
                <div class="container-fluid col-9">
                    <div class="row" *ngFor="let curves of curvesAndParams; let i = index">
                        <div class="col-xs-1 curve-label-left-col"
                            [ngClass]="{'curve-label curve-label-left': curves.chart && curves.chart.series,
                                                                            'no-curves-label': !curves.chart || !curves.chart.series}">
                            <p class=" text-label" *ngIf="curves.curveConfiguration.label.toUpperCase() === 'SPO2'">
                                <ng-template [ngIf]="curves.chart && curves.chart.series">
                                    PLET
                                </ng-template>
                            </p>
                            <p class=" text-label" *ngIf="curves.curveConfiguration.label.toUpperCase() !== 'SPO2'">
                                <ng-template [ngIf]="curves.chart && curves.chart.series">
                                    {{curves.curveConfiguration.label.toUpperCase()}}
                                </ng-template>
                            </p>
                        </div>
                        <div class="col-11"
                            [ngClass]="{'curves': curves.chart && curves.chart.series,
                                                                            'no-curves': !curves.chart || !curves.chart.series}">
                            <ng-template [ngIf]="curves.chart && curves.chart.series">
                                <apx-chart #chart [series]="curves.chart.series" [stroke]="curves.chart.stroke"
                                    [xaxis]="curves.chart.xaxis" [yaxis]="curves.chart.yaxis"
                                    [markers]="curves.chart.markers" [dataLabels]="curves.chart.dataLabels"
                                    [chart]="curves.chart.chart" [grid]="curves.chart.grid"
                                    [tooltip]="curves.chart.tooltip" [autoUpdateSeries]=true
                                    [legend]="curves.chart.legend" [fill]="curves.chart.fill">
                                </apx-chart>
                            </ng-template>
                        </div>

                    </div>
                </div>

                <div class="col-3">
                    <div class="row" *ngFor="let curves of curvesAndParams; let i = index">

                        <div class="col-11 curve-configuration" [ngClass]="{'alert-enabled': getAlerts()[i]}"
                            *ngIf="curves.curveConfiguration?.label.toUpperCase() != 'CAR' &&
                                                                curves.curveConfiguration?.label.toUpperCase() != 'RESP' &&
                                                                curves.curveConfiguration?.label.toUpperCase() != 'TEMP' &&
                                                                curves.curveConfiguration?.label.toUpperCase() != 'NIBP'">
                            <div class="row">
                                <div class="col-2">
                                    <p class="text-center" [style.color]="getColor(curves)">
                                        {{curves.curveConfiguration?.label}}</p>
                                    <ng-template
                                        [ngIf]="currentState?.action !== 'stop' && isIBPCurve(curves) && calculatingNIBP">
                                        <p><img src="/assets/icons/nibp-small.png" class="img-status" /></p>
                                    </ng-template>
                                </div>
                                <div class="col-6">
                                    <p class="text-rate text-center" [style.color]="getColor(curves)"
                                        *ngIf="!showMinAndMax(curves) && currentState?.action !== 'stop'">

                                        {{getSourceRateValue(curves)}}
                                    </p>
                                    <p class="text-rate" [style.color]="getColor(curves)"
                                        *ngIf="!showMinAndMax(curves) && currentState?.action == 'stop'">

                                        --
                                    </p>
                                    <p class="min-max-value" *ngIf="isIBPCurve(curves)"
                                        [style.color]="getColor(curves)">
                                        <ng-template [ngIf]="currentState?.action == 'stop'">
                                            -- / --
                                        </ng-template>
                                        <ng-template [ngIf]="currentState?.action !== 'stop'">
                                            {{getDiastolicIBP()}} / {{getSystolicIBP()}} {{getMeanIBP()}}
                                        </ng-template>
                                    </p>
                                    <p class="min-max-value" *ngIf="isNIBPCurve(curves)">
                                        <ng-template [ngIf]="currentState?.action == 'stop' || !getDiastolicNIBP()">
                                            -- / --
                                        </ng-template>
                                        <ng-template [ngIf]="currentState?.action !== 'stop' && getDiastolicNIBP()">
                                            {{getDiastolicNIBP()}} / {{getSystolicNIBP()}}
                                            {{getMeanNIBP()}}
                                        </ng-template>
                                    </p>
                                    <p class="min-max-value" *ngIf="isCO2Curve(curves)"
                                        [style.color]="getColor(curves)">
                                        <ng-template [ngIf]="currentState?.action == 'stop'">
                                            -- / --
                                        </ng-template>
                                        <ng-template [ngIf]="currentState?.action !== 'stop'">
                                            {{getEndTidalCO2()}}
                                            <br>
                                            {{getInspirationCO2()}}
                                        </ng-template>

                                    </p>

                                </div>
                                <div class="col-4 parameter-box-var">
                                    <p [style.color]="getColor(curves)">
                                        {{curves.curveConfiguration?.unit}}</p>
                                    <p *ngIf="isNIBPCurve(curves)" class="nibp-text" [style.color]="getColor(curves)">
                                        ({{timeNIBP()}} min.)
                                    </p>
                                    <p *ngIf="isCO2Curve(curves)" [style.color]="getColor(curves)">
                                        {{getRespirationRate()}}
                                    </p>
                                    <p *ngIf="isIBPCurve(curves) || isNIBPCurve(curves) || isSPO2Curve(curves)"
                                        [style.color]="getColor(curves)">
                                        {{getHeartRate()}}
                                    </p>
                                </div>
                            </div>

                        </div>
                        <!-- <div class="col-xs-1 curve-label" [ngClass]="{'alert-enabled': getAlerts()[i] }" *ngIf="curves.curveConfiguration?.label.toUpperCase() != 'CAR' &&
                                    curves.curveConfiguration?.label.toUpperCase() != 'RESP' && curves.curveConfiguration?.label.toUpperCase() != 'TEMP' &&
                                    curves.curveConfiguration?.label.toUpperCase() != 'NIBP' ">
                            <p class="text-label" [style.color]="getColor(curves)">
                                {{curves.curveConfiguration?.label}}
                            </p>


                        </div> -->
                    </div>

                </div>
            </div>





        </div>




    </div>

</div>



<ng-template #noSimulation class="mt-4 no-simulation">

    <div class="container row no-simulation">
        <div class="spinner-border text-danger" role="status">
        </div>
        <div class="ml-4">
            <h3 class="text-center">Waiting for simulation</h3>
        </div>
    </div>
</ng-template>
