.text-animal-specie {
    margin-left: 20px;
}

.no-simulation {
    max-height: 300px;
    height: 300px;
}

.icon-pause {
    color: white;
    margin-right: 2%;
}

.icon-stopped {
    color: white;
    margin-right: 2%;
}
