<div class="container-fluid" *ngIf="currentState?.curves.length > 0 else noSimulation">
    <div class="row justify-content-between">
        <div class="col-4">
            <p class="text-left">
                {{ today | date: "medium" }}
                <span *ngIf="animalSpecie" class="text-animal-specie">
                    {{ animalSpecie.name }}
                </span>
            </p>
        </div>
        <div class="col-4 alarms-off">
            <ng-template [ngIf]="currentState?.action === 'stop'">
                <h4 class="text-center"><img src="https://img.icons8.com/fluency/24/000000/stop.png"
                        class="img-status" />Simulation
                    stopped

                </h4>

            </ng-template>
            <ng-template [ngIf]="currentState?.action === 'pause'">
                <h4 class="text-center"><img src="https://img.icons8.com/fluency/24/000000/pause.png"
                        title="Freeze simulation" class="img-status" />Simulation
                    paused</h4>
            </ng-template>
            <ng-template [ngIf]="currentState.muteAlarms && currentState?.action !== 'stop'">
                <h4 class="text-center"><img
                        src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/30/000000/external-mute-multimedia-kiranshastry-lineal-color-kiranshastry.png" />
                    &nbsp;Alarms
                    off</h4>
            </ng-template>

        </div>
        <div class="col-3">
            <div class="row justify-content-between">
                <div class="col-5">
                    <!-- <p class="text-right" *ngIf="animalSpecie">ANIMAL CLINIC
                    </p> -->
                </div>
                <div class="col-7">
                    <button class="btn btn-link" (click)="openFullscreen()" *ngIf="!isFullScren()">
                        <img src="https://img.icons8.com/office/20/000000/fit-to-width.png" /> FullScreen</button>
                    <button class="btn btn-link" (click)="closeFullscreen()" *ngIf="isFullScren()">
                        <img src="https://img.icons8.com/office/20/000000/fit-to-width.png" /> Exit FullScreen</button>

                </div>

            </div>


        </div>


    </div>

    <div class="row" *ngIf="existDataset() else noDataset">
        <app-audio [play]="true" [src]="'/assets/sounds/monitor.mp3'" [playRate]=calculatePlayRate()></app-audio>
        <app-audio [play]="enableSoundAlarm" [src]="'/assets/sounds/alarmLimit.mp3'" [playRate]=1>
        </app-audio>


        <div class="container-fluid">

            <div class="row">
                <div class="container-fluid col-9">
                    <div class="row" *ngFor="let curves of curvesAndParams; let i = index">
                        <div class="col-xs-1 curve-label-left-col"
                            [ngClass]="{'curve-label curve-label-left': curves.chart && curves.chart.series,
                                                                            'no-curves-label': !curves.chart || !curves.chart.series}">
                            <p class=" text-label">
                                <ng-template [ngIf]="curves.chart && curves.chart.series">
                                    {{curves.curveConfiguration.label.toUpperCase()}}
                                </ng-template>
                            </p>
                        </div>
                        <div class="col-11"
                            [ngClass]="{'curves': curves.chart && curves.chart.series,
                                                                            'no-curves': !curves.chart || !curves.chart.series}">
                            <ng-template [ngIf]="curves.chart && curves.chart.series">
                                <apx-chart #chart [series]="curves.chart.series" [stroke]="curves.chart.stroke"
                                    [xaxis]="curves.chart.xaxis" [yaxis]="curves.chart.yaxis"
                                    [markers]="curves.chart.markers" [dataLabels]="curves.chart.dataLabels"
                                    [chart]="curves.chart.chart" [grid]="curves.chart.grid"
                                    [tooltip]="curves.chart.tooltip" [autoUpdateSeries]=true
                                    [legend]="curves.chart.legend" [fill]="curves.chart.fill">
                                </apx-chart>
                            </ng-template>
                        </div>

                    </div>
                </div>

                <div class="col-3">
                    <div class="row" *ngFor="let curves of curvesAndParams; let i = index">

                        <div class="col-11 curve-configuration" [ngClass]="{'alert-enabled': getAlerts()[i]}"
                            *ngIf="curves.curveConfiguration?.label.toUpperCase() != 'CAR' &&
                                                                curves.curveConfiguration?.label.toUpperCase() != 'RESP'">
                            <div class="row">
                                <div class="col-3">
                                    <!-- <p class="" [style.color]="getColor(curves)" *ngIf="showMinAndMax(curves)">
                                        <ng-template [ngIf]="getMaxValue(curves)">
                                            {{getMaxValue(curves)}} /
                                        </ng-template>
                                        <ng-template [ngIf]="!getMaxValue(curves)">
                                            -- /
                                        </ng-template>
                                    </p> -->
                                </div>
                                <div class="col-5">
                                    <p class="text-rate" [style.color]="getColor(curves)"
                                        *ngIf="!showMinAndMax(curves)">

                                        {{getSourceRateValue(curves)}}
                                    </p>

                                    <p class="min-max-value" *ngIf="showMinAndMax(curves)"
                                        [style.color]="getColor(curves)">
                                        <ng-template [ngIf]="getMaxValue(curves)">
                                            {{getMaxValue(curves)}} /
                                            <ng-template [ngIf]="getMinValue(curves)">
                                                {{getMinValue(curves)}}
                                            </ng-template>
                                            <ng-template [ngIf]="!getMinValue(curves)">
                                                --
                                            </ng-template>
                                        </ng-template>
                                        <ng-template [ngIf]="!getMaxValue(curves)">
                                            -- / --
                                        </ng-template>
                                        <br>
                                        <ng-template [ngIf]="!getMediumValue(curves)">
                                            --
                                        </ng-template>
                                        <ng-template [ngIf]="getMediumValue(curves)">
                                            {{getMediumValue(curves)}}
                                        </ng-template>
                                    </p>
                                </div>
                                <div class="col-4 parameter-box-var">
                                    <p class="first-var" [style.color]="getColor(curves)">
                                        {{curves.curveConfiguration?.alert_high}}
                                    </p>
                                    <p [style.color]="getColor(curves)">
                                        {{curves.curveConfiguration?.alert_low}}</p>
                                    <p [style.color]="getColor(curves)">
                                        {{curves.curveConfiguration?.label}}</p>
                                    <p [style.color]="getColor(curves)">
                                        {{curves.curveConfiguration?.unit}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-1 curve-label" [ngClass]="{'alert-enabled': getAlerts()[i]}"
                            *ngIf="curves.curveConfiguration?.label.toUpperCase() != 'CAR' &&
                                                                curves.curveConfiguration?.label.toUpperCase() != 'RESP'">
                            <p class="text-label" [style.color]="getColor(curves)">
                                {{curves.curveConfiguration?.label}}
                            </p>
                        </div>
                    </div>

                </div>
            </div>





        </div>




    </div>

</div>



<ng-template #noSimulation class="mt-4 no-simulation">

    <div class="container row no-simulation">
        <div class="spinner-border text-danger" role="status">
        </div>
        <div class="ml-4">
            <h3 class="text-center">Waiting for simulation</h3>
        </div>
    </div>
</ng-template>


<ng-template #noDataset class="mt-4 no-simulation">

    <div class="container row no-simulation">
        <p>NO SIMULATION </p>
    </div>
</ng-template>
