<div class="container-fluid" *ngIf="currentState?.curves.length > 0 else noSimulation">
    <div class="row">
        <div class="col-lg-6">
            <p class="text-left">
                {{ today | date: "medium" }}
                <span *ngIf="animalSpecie" class="text-animal-specie">
                    {{ animalSpecie.name }}
                </span>
            </p>
        </div>
        <div class="col-lg-5">
            <p class="text-right text-animal-clinic" *ngIf="animalSpecie">ANIMAL CLINIC</p>
        </div>
    </div>

    <div class="row" *ngIf="existDataset() else noDataset">
        <app-audio [play]="true" [src]="'/assets/sounds/monitor.mp3'" [playRate]=calculatePlayRate()></app-audio>
        <app-audio [play]="enableSoundAlarm" [src]="'/assets/sounds/alarmLimit.mp3'" [playRate]=1>
            <ng-template [ngIf]="currentState?.muteAlarms">
                <p style="border: 2px solid red">Alarms off</p>
            </ng-template>
        </app-audio>
        <div class="container-fluid">

            <ng-template [ngIf]="currentState?.action === 'stop'">
                <h4 class="text-center"><img src="https://img.icons8.com/fluency/24/000000/stop.png"
                        class="img-status" />Simulation
                    stopped</h4>
            </ng-template>
            <ng-template [ngIf]="currentState?.action === 'pause'">
                <h4 class="text-center"><img src="https://img.icons8.com/fluency/24/000000/pause.png"
                        title="Freeze simulation" class="img-status" />Simulation
                    paused</h4>
            </ng-template>
            <div id="charts" class="row" *ngFor="let chart of chartsOptions; let i = index">
                <div class="col-9">
                    <apx-chart #chart [series]="chart.series" [stroke]="chart.stroke" [xaxis]="chart.xaxis"
                        [yaxis]="chart.yaxis" [markers]="chart.markers" [dataLabels]="chart.dataLabels"
                        [chart]="chart.chart" [grid]="chart.grid" [tooltip]="chart.tooltip" [autoUpdateSeries]=true
                        [legend]="chart.legend" [fill]="chart.fill">
                    </apx-chart>
                </div>
                <div class="col-2 curve-configuration" [ngClass]="{'alert-enabled': getAlerts()[i]}">
                    <div class="row">
                        <div class="col-3">

                        </div>
                        <div class="col-5">
                            <p class="text-rate" [style.color]="getColor(currentState.curves[i])">
                                {{getSourceRateValue(currentState.curves[i])}}</p>
                        </div>
                        <div class="col-4 parameter-box-var">
                            <p class="first-var" [style.color]="getColor(currentState.curves[i])">
                                {{currentState.curves[i]?.curveConfiguration?.alert_high}}
                            </p>
                            <p [style.color]="getColor(currentState.curves[i])">
                                {{currentState.curves[i]?.curveConfiguration?.alert_low}}</p>
                            <p [style.color]="getColor(currentState.curves[i])">
                                {{currentState.curves[i]?.curveConfiguration?.source.label}}</p>
                            <p [style.color]="getColor(currentState.curves[i])">
                                {{currentState.curves[i]?.curveConfiguration?.unit}}</p>
                        </div>
                    </div>

                </div>
                <div class="col-1 curve-label">
                    <p class="text-label" [style.color]="getColor(currentState.curves[i])">
                        {{currentState.curves[i]?.curveConfiguration?.label}}
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #noSimulation class="mt-4 no-simulation">

    <div class="container row no-simulation">
        <div class="spinner-border text-danger" role="status">
        </div>
        <div class="ml-4">
            <h3 class="text-center">Waiting for simulation</h3>
        </div>
    </div>
</ng-template>


<ng-template #noDataset class="mt-4 no-simulation">

    <div class="container row no-simulation">
        <p>NO SIMULATION </p>
    </div>
</ng-template>
