.text-animal-specie {
    margin-left: 20px;
}

.no-simulation {
    height: 100%;
}

.curves {
    width: 100px !important;
}

.icon-pause {
    color: white;
    margin-right: 2%;
}

.icon-stopped {
    color: white;
    margin-right: 2%;
}

.curve-configuration {
    border: 2px solid #fff;
    border-radius: 10px;
    max-height: 13.3vh;
    max-width: 25%;
    animation: none;
    margin-left: 0%;
}

.text-label {
    writing-mode: vertical-rl;
    padding: 10px 0px 25px;
    font-size: 16px;
    margin-left: -4px;
}

.no-curves,
.no-curves-label {
    display: hidden;
    max-height: 0px;
}

.no-curves-label {
    padding-left: 0%;
    margin-left: 0%;
}

.curve-label-left {
    border: none !important;
    max-width: 15px;
    padding-top: 5%;
    max-height: 50px;
    padding-left: 0.5%;
}

.label-left {
    letter-spacing: 4px;
}

.text-rate {
    font-size: 1.2rem;
}

.unit-text {
    display: none;
}

.container-configuration {
    width: 15%;
}

.parameter-box-var p {
    line-height: 0.1em;
}

.parameter-box-var {
    padding-top: 0.7rem;
}

.alert-enabled {
    animation: pulse 3s infinite;
    font-weight: bold;
}
@keyframes pulse {
    0% {
        background-color: #8b2e3e;
    }
    100% {
        background-color: #d81812;
    }
}

p,
h3,
h4 {
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.img-status {
    margin-right: 2%;
}

.min-max-value {
    font-size: 1.2rem;
    margin-top: 5%;
    text-align: center;
}

.curve-configuration {
    min-height: 20vh;
    max-height: 20vh;
    min-width: 100px;
}

.topbar {
    display: none;
}

@media all and (display-mode: fullscreen) {
    .curves {
        max-height: 20vh !important;
        margin: 0%;
        padding: 0%;
    }

    .no-curves,
    .no-curves-label {
        display: hidden;
        max-height: 0px;
    }

    .unit-text {
        display: block;
    }

    .curve-label-left {
        min-height: 20vh;
    }
    .curve-configuration {
        min-height: 18vh !important;
        max-height: 18vh !important;
    }

    .text-rate {
        font-size: 4rem;
    }

    .min-max-value {
        font-size: 1.8rem;
        text-align: center;
        margin-top: auto;
    }
}

.first-box {
    margin-top: 0% !important;
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .curves {
        min-width: 910px;
        min-height: 17.5vh;
        max-height: 17.5vh;
        margin-right: 0px;
    }
    .min-max-value {
        font-size: 1.8rem;
        margin-top: auto;
        text-align: center;
    }

    .unit-text {
        display: block;
    }

    .curve-configuration {
        border: 2px solid #fff;
        border-radius: 10px;
        min-height: 18vh;
        max-height: 18vh;
        margin-top: 3%;
        min-width: 300px;
        margin-left: 0%;
    }


    .temperature-div {
        margin-top: 1.5%;
    }


    .temperature {
        font-size: 1.5em;
    }

    .fullScreen {
        margin-top: 2%;
    }

    .full-screen {
        color: blue;
    }

    .text-rate {
        font-size: 4rem;
    }

    .topbar {
        display: flex;
    }
}

@media screen and (min-width: 1400px) and (max-width: 2000px) {
    .curves {
        min-width: 1150px;
        min-height: 21vh;
        margin-right: 0px;
    }

    .curve-configuration {
        border: 2px solid #fff;
        border-radius: 10px;
        margin-top: 3%;
        min-width: 300px;
        margin-left: 0%;
        min-height: 18.7vh;
    }

    .curve-label-left {
        min-height: 20vh;
    }

    .min-max-value {
        font-size: 1.8rem;
        margin-top: auto;
        text-align: center;
    }

    .unit-text {
        display: block;
    }

    .temperature {
        font-size: 1.5em;
    }

    .fullScreen {
        margin-top: 2%;
    }

    .full-screen {
        color: blue;
    }

    .text-rate {
        font-size: 4rem;
    }

    .topbar {
        display: flex;
    }
}

.btn-link {
    padding: 0;
    margin: 0;
}

.nibp-text {
    font-size: small;
}
