<div class="container-fluid" *ngIf="curves?.length > 0 else noSimulation">
    <div class="row">
        <div class="col-lg-6">
            <p class="text-left">
                {{ today | date: "medium" }}
                <span *ngIf="animalSpecie" class="text-animal-specie">
                    {{ animalSpecie.name }}
                </span>
            </p>
        </div>
        <div class="col-lg-5">
            <p class="text-right" *ngIf="animalSpecie">ANIMAL CLINIC</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12" *ngFor="let curve of curves; trackBy: trackByFn">
            <div class="row">
                <div class="col-9 curves">
                    <app-curves [colorLine]="curve.curveConfiguration?.colorLine" [series]="curve.curveValues"
                        [simulation]="true" [loadOptions]="chartOptions" [minX]=0 [maxX]=4>
                    </app-curves>
                </div>
                <!-- Curve Configuration -->
                <div class="col-2 curve-configuration">

                </div>
                <div class="col-xs-1 curve-label">
                    <p class="text-label">{{curve.curveConfiguration.label}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noSimulation class="mt-4 no-simulation">
    <div class="container row no-simulation">
        <div class="spinner-border text-danger" role="status">
        </div>
        <div class="ml-4">
            <h3 class="text-center">Waiting for simulation</h3>
        </div>
    </div>
</ng-template>
