<ng-sidebar-container>

    <!-- Sidebar -->
    <ng-sidebar #sidebar [mode]="'push'" [animate]="true" [showBackdrop]="true" [trapFocus]="true" [autoFocus]="true"
        [keyClose]="true" [closeOnClickBackdrop]="true" [closeOnClickOutside]="true"
        [dock]="true">
        <app-navbar [type]="'user'" class="sidebarS"></app-navbar>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>
        <button (click)="sidebar.open()" class="ng-sidebar--closed">Open sidebar</button>
        <main role="main" class="container">
            <p> as </p>
            <div class="template">
                <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                    <router-outlet></router-outlet>
                </div>
            </div>

        </main>
    </div>
</ng-sidebar-container>
