<!-- <div class="spinner-border text-primary" role="status" *ngIf="isLoading()">
    <span class="sr-only">Loading...</span>
</div> -->


<div class="panel-header">
    <div class="visualizationHeader">
        <h3 class="textSimulation"><em>Visualization Area and Simulation Edition</em></h3>
        <button type="submit" class="btn btn-primary col-md-3 saveChanges" (click)="onSaveChanges()">Save
            changes</button>
        <!-- <p class="textScenario"><em>Visualization Area and Scenario Edition</em></p> -->
    </div>

</div>

<div class="container">


    <form [formGroup]="formGroup">
        <!-- Start Row 1-->
        <div class="row">


            <div class="col-md-3">
                <label for="simulationName" class="form-label">Simulation Name</label>
                <input class="form-control" formControlName="simulationName">
                <app-message *ngIf="isSubmitForm()" [errors]="getErrors()" [key]="'simulationName'">
                </app-message>
            </div>

            <div class="col-md-3">
                <label for="animalSpecies" class="form-label">Animal Specie</label>
                <select class="form-select form-control" formControlName="animalSpecie" (change)="changeAnimalSpecie($event)">
                    <option value="" selected disabled>Choose Animal Specie</option>
                    <ng-template [ngIf]="animalSpecies.length > 0">
                        <option *ngFor="let animalS of animalSpecies; trackBy: trackByFnAnimalSpecies">
                            {{ animalS.name }}
                        </option>
                    </ng-template>
                </select>
                <app-message *ngIf="isSubmitForm() && form" [errors]="getErrors()" [key]="'animalSpecie'"></app-message>
            </div>

            <div class="col-md-6">
                <label class="form-label">Simulation description</label>
                <textarea class="form-control" rows="4" formControlName="simulationDescription"></textarea>
            </div>
        </div>



        <!-- End Row 1 -->

        <!-- Start Row 2 -->
        <div class="row mt-4">
            <div class="col-md-12">
                <app-scenarios [scenariosSelected]="scenariosSimulation"></app-scenarios>

            </div>
            <!-- Scenarios -->
        </div>

        <div class="row mt-4">
            <div class="col-md-4">
                <label for="medications" class="form-label">Medications</label>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">
                                Medication
                            </th>
                            <th scope="col">
                                Doses
                            </th>
                            <th scope="col">
                                [unit]
                            </th>
                            <th scope="col-sm">
                                <!-- Delete -->
                            </th>
                        </tr>


                    </thead>

                    <tbody>
                        <!-- <ng-template [ngIf]=" !medicationsScenario || !(medicationsScenario.length > 0)">
                            <tr>
                                <td colspan="12">
                                    No medications available
                                </td>
                            </tr>

                        </ng-template> -->
                        <ng-container formArrayName="medications"
                            *ngFor="let group of getFormControlsMedication.controls; let i = index">
                            <tr [formGroupName]="i">
                                <td scope="row">
                                    <select class="form-select form-control" formControlName="medication">
                                        <option value="" selected>Choose Medication</option>
                                        <option *ngFor="let medication of medications">
                                            {{ medication.name }}
                                        </option>
                                    </select>
                                </td>
                                <td scope="row">
                                    <input type="number" class="form-control" formControlName="doses">
                                </td>
                                <td scope="row">
                                    <input type="text" class="form-control" formControlName="unit">
                                </td>
                                <td scope="row">
                                    <button class="btn btn-trash btn-light" (click)="deleteRowMedication(i)">
                                        <i class="fas fa-trash"></i>
                                    </button>

                                </td>

                            </tr>

                        </ng-container>


                        <button class="btn btn-light mt-3 ml-2" (click)="addRowMedication()">
                            Add medication
                        </button>
                    </tbody>


                </table>

            </div>


            <div class="col-md-4">
                <label for="pathologies" class="form-label">Pathologies</label>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">
                                Pathology
                            </th>
                            <th scope="col-sm">
                                <!-- Delete -->
                            </th>
                        </tr>


                    </thead>

                    <tbody>

                        <ng-container formArrayName="pathologies"
                            *ngFor="let group of getFormControlsPathologies.controls; let i = index">
                            <tr [formGroupName]="i">
                                <td scope="row">
                                    <select class="form-select form-control" formControlName="pathology">
                                        <option value="" selected>Choose Pathology</option>
                                        <option *ngFor="let pat of pathologies">
                                            {{ pat.name }}
                                        </option>
                                    </select>
                                </td>

                                <td scope="row">
                                    <button class="btn btn-trash btn-light" (click)="deleteRowPathology(i)">
                                        <i class="fas fa-trash"></i>
                                    </button>

                                </td>

                            </tr>

                        </ng-container>


                        <button class="btn btn-light mt-2 ml-1" (click)="addRowPathology()">
                            Add Pathology
                        </button>
                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <label for="arrhythmias" class="form-label">Arrhythmias</label>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">
                                Arrhythmia
                            </th>
                            <th scope="col-sm">
                                <!-- Delete -->
                            </th>
                        </tr>


                    </thead>

                    <tbody>

                        <ng-container formArrayName="arrhythmias"
                            *ngFor="let group of getFormControlsArrhythmias.controls; let i = index">
                            <tr [formGroupName]="i">
                                <td scope="row">
                                    <select class="form-select form-control" formControlName="arrhythmia">
                                        <option value="" selected>Choose Arrhythmia</option>
                                        <option *ngFor="let arr of arrhythmias">
                                            {{ arr.name }}
                                        </option>
                                    </select>
                                </td>

                                <td scope="row">
                                    <button class="btn btn-trash btn-light" (click)="deleteRowArrhythmia(i)">
                                        <i class="fas fa-trash"></i>
                                    </button>

                                </td>

                            </tr>

                        </ng-container>


                        <button class="btn btn-light mt-2 ml-1" (click)="addRowArrhythmia()">
                            Add Arrhythmia
                        </button>
                    </tbody>
                </table>
            </div>

        </div>

        <!-- <div class="row mt-3"> -->

        <!-- <div class="col-md-3">
                <label for="animalSpecies" class="form-label">Animal Specie</label>
                <select class="form-select form-control" formControlName="animalSpecie">
                    <option value="" selected>Choose Animal Specie</option>
                    <ng-template [ngIf]="animalSpecies.length > 0">
                        <option *ngFor="let animalS of animalSpecies; trackBy: trackByFnAnimalSpecies">
                            {{ animalS.name }}
                        </option>
                    </ng-template>
                </select>
                <app-message *ngIf="isSubmitForm() && form" [errors]="getErrors()" [key]="'animalSpecie'"></app-message>
            </div>

            <div class="col-md-3">
                <label class="form-label">Medications list</label>
                <div class="row">
                    <div class="col-md-6">
                        <label for="medications" class="form-label">Medications</label>
                        <select class="form-control" formControlName="medication">
                            <option selected value="">Choose</option>
                            <ng-template [ngIf]="medications.length > 0">
                                <option *ngFor="let medication of medications; trackByFnMedications">
                                    {{medication?.name}}
                                </option>
                            </ng-template>
                        </select><app-message *ngIf="isSubmitForm() && form" [errors]="getErrors()" [key]="'medication'"></app-message>
                    </div>
                    <div class="col-md-3">
                        <label for="doses" class="form-label">Doses</label>
                        <input class="form-control" formControlName="dose">
                        <app-message *ngIf="isSubmitForm() && form" [errors]="getErrors()" [key]="'dose'"></app-message>
                    </div>
                    <div class="col-md-3">
                        <label for="units" class="form-label">[units]</label>
                        <input class="form-control" formControlName="units">
                        <app-message *ngIf="isSubmitForm() && form" [errors]="getErrors()" [key]="'units'"></app-message>
                    </div>
                </div>
            </div> -->

        <!-- <div class="col-md-3">
                <label class="form-label">Pathology list</label>
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-label">Pathology </label>
                        <select class="form-control" formControlName="pathology">
                            <option selected value="">Choose</option>
                            <ng-template [ngIf]="pathologies.length > 0">
                                <option *ngFor="let pat of pathologies; trackByFnPathologies">
                                    {{pat.name}}
                                </option>
                            </ng-template>
                        </select>
                        <app-message *ngIf="isSubmitForm() && form" [errors]="getErrors()" [key]="'pathology'"></app-message>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <label class="form-label">Arrhythmia list</label>
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-label">Arrhythmia </label>
                        <select class="form-control" formControlName="arrhythmia">
                            <option selected value="">Choose</option>
                            <ng-template [ngIf]="arrhythmias.length > 0">
                                <option *ngFor="let arr of arrhythmias; trackByFnArrhythmias">
                                    {{arr.name}}
                                </option>
                            </ng-template>
                        </select>
                        <app-message *ngIf="isSubmitForm() && form " [errors]="getErrors()" [key]="'arrhythmia'"></app-message>
                    </div>
                </div>
            </div>
 -->

        <!-- </div> -->
        <!-- End Row 2-->

        <!-- <div class="row mt-3">

            <div class="col-md-3">
                <label class="form-label">Simulation description</label>
                <textarea class="form-control" rows="5" formControlName="simulationDescription"></textarea>
                <div class="row mt-3">
                    <div class="col scenarios">
                        <label for="scenarios"> Scenarios </label>
                        <ng-template [ngIf]="scenariosSimulation && scenariosSimulation.length > 0">

                                <button class="ml-3 btn btn-link align-end" (click)="onLoadScenario()">Load </button>
                                <button class="ml-1 btn btn-link align-end" *ngIf="containsTrue()" (click)="onDeleteScenario()">Delete</button>

                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>

                                        <th scope="col">Name</th>
                                        <th scope="col">Description</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr formArrayName="scenarioSelected" *ngFor="let sc of scenariosSimulation; let i = index">

                                        <td scope="col">
                                            {{sc.name}}
                                        </td>
                                        <td scope="col">
                                            {{sc.description}}
                                        </td>
                                        <div [formGroupName]="i">
                                            <td scope="col">

                                                <input class="form-check-input" type="checkbox" value="{{i}}"
                                                    formControlName="value">
                                            </td>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>
                        <div *ngIf="scenariosSimulation.length == 0">
                            <button class="btn btn-primary" (click)="onLoadScenario()">Load Scenarios</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-9 parameters">
                <hr class="separatorLine">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="cyclec" class="form-label">Cardiac Rate [rpm]</label>
                        <input class="form-control" formControlName="cardiacCycle">
                    </div>

                    <div class="col-sm-4">
                        <label for="temp" class="form-label">TEMP [°C]</label>
                        <input class="form-control" formControlName="temp">
                    </div>

                    <div class="col-sm-4">
                        <label for="resp" class="form-label">RESP [rpm]</label>
                        <input class="form-control" formControlName="respirationRate">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mt-3">
                        <label class="form-label">ECG</label>
                        <div class="card">
                            <div class="card-title">
                                <p> ECG</p>
                            </div>
                            <div class="card-body">
                                <p> Curve configuration </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 mt-3 imgs">
                        <img src="/assets/images/egc_curve.png" class="rounded float-start ">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 mt-3">

                        <label class="form-label">SPO2</label>
                        <div class="card">
                            <div class="card-title">
                                <p>SPO2</p>
                            </div>
                            <div class="card-body">
                                <p>Curve configuration</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 mt-3 imgs">
                        <img src="" class="rounded float-start" alt="spo2 curve">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 mt-3">
                        <label class="form-label">ETC02</label>
                        <div class="card">
                            <div class="card-title">
                                <p>ETCO2</p>
                            </div>
                            <div class="card-body">
                                <p>Curve configuration</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 mt-3 imgs">
                        <img src="" class="rounded float-start" alt="ETC02 curve">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 mt-3">
                        <label class="form-label">IBP</label>
                        <div class="card">
                            <div class="card-title">
                                <p>IBP</p>
                            </div>
                            <div class="card-body">
                                <p>Curve configuration</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 mt-3 imgs">
                        <img src="" class="rounded float-start" alt="IBP curve">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 mt-3">
                        <label class="form-label">NIBP</label>
                        <div class="card">
                            <div class="card-title">
                                <p>NIBP</p>
                            </div>
                            <div class="card-body">
                                <p>Curve configuration</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 mt-3 imgs">
                        <img src="" class="rounded float-start" alt="NIBP curve">
                    </div>
                </div>

            </div> -->

        <!-- End row 3-->


        <!-- </div> -->



    </form>
</div>
