h3 {
    color: #ffffff;
}

a {
    color: #bfbfbf;
}

.filaForm {
    width: 20%;
    margin: 40px 40px 0px 0px;
}

#fila1 div {
    margin-top: 0px !important;
}

.filaForm input {
    font-size: 15px;
}

.divForm {
    margin-top: 20px;
    margin-left: 180px;
    float: right;
}

.title {
    margin-left: 0.2rem !important;
}

.select {
    margin-left: 1rem !important;
}

.choose {
    font-size: 15px;
}

#row3 div {
    margin-top: 0px;
}

#row4 {
    /* margin: 40px 0px 0px 0px; */
    padding-left: 0;
}

.lineVert {
    border-left: 1px solid black;
    height: 80%;
    position: absolute;
    left: 265px;
}

#scenarioId,
#scenarioId:hover,
#scenarioId:focus,
#scenarioId:active {
    border: none;
}

.btnSave {
    margin: 10px 0px 0px 60px;
    height: 60px;
    border-radius: 15px;
}
