.panel-header {
    width: 100%;
}

.textSimulation {
    float: left;
    width: 15%;
    text-align: center;
}

.textScenario {
    width: 50%;
    float: right;
    text-align: left;
}

.visualizationHeader {
    overflow: auto;
}

.saveChanges {
    float: right;
    margin-top: 15px;
    width: 40%;
}

.separatorLine {
    width: 75%;
    background-color: #fff;
}

.card {
    border: 2px solid #fff;
}

.scenarios {
    border: none !important;
    max-height: 300px;
    overflow: auto;
}

.imgs {
    border: 2px solid #fff;
}

.table-hover tbody tr:hover {
    background-color: #616161 !important;
}

.parameters {
    max-height: 500px !important;
    overflow: auto;
}
