<div class="modal-header title">
    <h3>Choose Scenario</h3>
</div>


<div class="modal-body">

    <div class="col">

        <form [formGroup]="formGroup" (ngSubmit)="onSelect()">


            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>

                        <th scope="col">
                            Name
                        </th>
                        <th scope="col">
                            Description
                        </th>
                        <th scope="col">
                            Latest update
                        </th>
                        <th scope="col">

                        </th>

                    </tr>
                </thead>


                <!-- Listing -->
                <tbody *ngIf="scenarios">
                    <tr formArrayName="scenarioSelected" *ngFor="let scenario of scenarios; let i = index">

                        <td scope="row">
                            {{scenario.name}}
                        </td>
                        <td scope="row">
                            {{scenario.description}}
                        </td>
                        <td scope="row">
                            {{scenario.updatedAt | date}}
                        </td>

                        <td scope="row">
                            <div [formGroupName]="i" class="ml-4">
                                <input class="form-check-input" type="checkbox" value="{{i}}" formControlName="value">
                            </div>
                        </td>


                    </tr>
                </tbody>
                <!-- / Listing -->

                <!-- No items found -->
                <tbody *ngIf="(!scenarios || scenarios.length === 0)">
                    <tr>
                        <td colspan="7">
                            Nothing to show you.
                        </td>
                    </tr>
                </tbody>
                <!-- / No items found -->

            </table>

            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" *ngIf="containsTrue()">Select</button>
                <button class="btn btn-danger " type="button" (click)="onCancel()"> Close </button>
            </div>

        </form>
    </div>
</div>
