.title h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #212529;
    width: 100%;
}

.modal-header,
.modal-body {
    background-color: #b7a9e2;
}

.modal-header {
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
}

.btn-submit {
    background-color: #42336e;
    border: 1px solid #42336e;
}

.row-descr {
    max-width: 200px;
    overflow: auto;
}
.table-hover tbody tr:hover {
    background-color: #616161 !important;
}

.modal-title {
    text-align: left;
}

.latest-col, .row-descr {
    display: none;
}

@media (min-width: 1024px) {
    .modal-title {
        text-align: center;
    }

    .latest-col, .row-descr {
        display: table-cell;
    }

    .modal-header,
    .modal-body {
        min-width: 650px !important;
    }
}
