<div class="container col-md-6 margen">
  <h1>Arrhythmia</h1>
  <form action="" class="form-group" #form ="ngForm">
    <div class="form-group">
      <label for="arrhythmiaName">Arrhythmia name</label>
      <input class = "form-control" type="text" name = "arrhythmiaName" required [(ngModel)]= "arrhythmia.name">
    </div>
    <div class="form-group">
      <label for="description">Arrhythmia description</label>
      <input class ="form-control" type="text" name= "description" required [(ngModel)]= "arrhythmia.description">
    </div>
    <button type="submit" [disabled]="!form.form.valid" class="btn btn-primary btn-block" (click)="saveArrhythmia()">
      Save
    </button>
    </form>
</div>

