<div class="container">
    <div class="container-title">
        <h1 class="title-text"> Vital Signs Simulator Monitor </h1>
    </div>
    <div class="content">
        <div class="content-subtitle">
            <h2 class="subtitle-text">An educational app to understand the Vital Signs Monitoring</h2>
            <p class="intro-text">Developed to simulate clinical scenarios for teaching veterinary anesthesiology
                techniques. It helps to understand and analyze the changes of the vital signs through differents
                scenarios happened during anesthesic practices.
            </p>
        </div>
        <div class="content-img">
            <img src="../../../assets/images/Captura Monitor.png" alt="simvet-capture" class="img-central" height="350">
        </div>
    </div>

    <div class="content-info" id="info">
        <h2>How it works?</h2>
        <p class="how-it-works">The functionalities of SIMVet are divided into four main features:
            <span>
                <br>
                &nbsp;&nbsp;&nbsp;
                1. Creation, update and remove animal patients.
                <br>
                &nbsp;&nbsp;&nbsp;
                2. Creation, update and remove clinical scenarios.
                <br>
                &nbsp;&nbsp;&nbsp;
                3. Parameters configuration and execution of clinical scenarios through the time.
                <br>
                &nbsp;&nbsp;&nbsp;
                4. Parameter visualization of clinical scenarios.
            </span>
        </p>
        <p class="how-it-works">
            To start the simulation you should <a [routerLink]="'/auth/register'">register here</a> and start a
            simulation.
            You can choose either start with previous simulation or create a custom simulation from the begining.
            If you choose the custom simulation, you can configure and set up the Animal Patient, Physiological
            Parameters, Clinical Scenarios and
            every features involves in the simulation.
        </p>
        <p class="how-it-works">
            For more details, <a target="_blank" [routerLink]="'/manual'"> visit here</a>
        </p>

    </div>
</div>
