<div class="container">
    <div class="container-title">
        <h1 class="title-text"> Vital Signs Simulator Monitor </h1>
    </div>
    <div class="content">
        <div class="content-subtitle">
            <h2 class="subtitle-text">An educational app to understand the Vital Signs Monitoring</h2>
            <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus risus sed
                mauris euismod, vel
                dapibus sem
                rhoncus. Pellentesque varius, nunc eu scelerisque tincidunt, urna lectus cursus orci, a iaculis velit
                lacus vel magna.
                Praesent elementum molestie lacinia. Vestibulum ipsum nulla, interdum vel commodo sed, auctor sit amet
                massa. Maecenas
                lacus nunc, luctus sit amet aliquet in, scelerisque in justo. Cras ullamcorper lacus ac elementum
                cursus. </p>
        </div>
        <div class="content-img">
            <img src="../../../assets/images/estestoscopio.jpg" alt="Stethoscope" class="img-central">
        </div>
    </div>

    <div class="content-info" id="info">
        <h2>How it works?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non orci egestas, vestibulum diam quis,
            sodales nunc.
            Quisque et mauris massa. Curabitur posuere mi ligula, non feugiat est efficitur quis. Integer tellus metus,
            venenatis
            quis sapien at, tristique commodo quam. Nam pharetra nibh varius elementum rutrum. Proin sed tempor elit.
            Cras sem
            velit, volutpat non gravida ut, luctus sed arcu. Etiam hendrerit nisi lorem, vitae hendrerit nunc egestas
            eu. Nulla
            convallis metus nec vulputate gravida. Proin consectetur quam et dapibus bibendum. Nulla fermentum, magna
            mollis
            ultricies elementum, libero enim tincidunt turpis, in sagittis ligula neque sed tellus. Aliquam urna turpis,
            maximus
            eget aliquam et, gravida ut tortor. Nam et turpis vestibulum, faucibus odio nec, porttitor lectus. </p>
        <p>
            Fusce id sagittis est. Quisque tristique ligula ut libero ultrices, in semper velit maximus. Curabitur
            sollicitudin
            ornare velit. Sed rutrum nibh porttitor ullamcorper malesuada. Quisque ligula ipsum, vulputate in pretium
            vel, commodo
            ac nibh. Donec eu metus finibus, gravida magna id, hendrerit felis. Nullam nunc lectus, viverra vitae erat
            sed,
            consectetur cursus dui. Nulla facilisi. Nulla vitae egestas sem. Ut a arcu eget elit commodo maximus. In
            consectetur
            dictum nisi vitae malesuada.
        </p>
        <p>

            Phasellus a leo arcu. Duis malesuada tellus malesuada diam dictum fringilla. Curabitur eget interdum nunc.
            Morbi finibus
            orci eget massa interdum pretium. Maecenas vulputate orci mi, et convallis ligula vehicula eget. Morbi
            placerat blandit
            justo, mattis accumsan eros tincidunt ut. Vivamus porta eros vel tempus dapibus. Curabitur non neque orci.
            Fusce
            molestie fringilla velit vel semper.
        </p>

    </div>
</div>
