<div class="container">
    <div class="container-title">
        <h1 class="title-text"> Vital Signs Simulator Monitor </h1>
    </div>
    <div class="content">
        <div class="content-subtitle">
            <h2 class="subtitle-text">An educational app to understand the Vital Signs Monitoring</h2>
            <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus risus sed
                mauris euismod, vel
                dapibus sem
                rhoncus. Pellentesque varius, nunc eu scelerisque tincidunt, urna lectus cursus orci, a iaculis velit
                lacus vel magna.
                Praesent elementum molestie lacinia. Vestibulum ipsum nulla, interdum vel commodo sed, auctor sit amet
                massa. Maecenas
                lacus nunc, luctus sit amet aliquet in, scelerisque in justo. Cras ullamcorper lacus ac elementum
                cursus. </p>
        </div>
        <div class="content-img">
            <img src="../../../assets/images/estestoscopio.jpg" alt="Stethoscope" class="img-central">
        </div>

    </div>
