<div class="container-fluid" *ngFor="let curve of curves; trackBy: trackByFn">
    <div class="row curves">
        <div class="col-9">
            <app-curves [colorLine]="curve.curveConfiguration?.colorLine" [series]="curve.curveValues" [simulation]=true
                [loadOptions]="chartOptions" [maxSamples]=4 [minX]=0 [minY]=getMinY(curve.curveValues)
                [maxY]=getMaxY(curve.curveValues)>
            </app-curves>
        </div>
        <!-- Curve Configuration -->
        <div class="col-2 curve-configuration">

        </div>
        <div class="col-xs-1 curve-label">
            <p class="text-label">{{curve.curveConfiguration.label}}</p>
        </div>
    </div>
</div>
