.panel-header {
    width: 100%;
}

.textSimulation {
    float: left;
    width: 90%;
    text-align: center;
}

.bar-separator {
    width: 100%;
}

.textScenario {
    width: 50%;
    float: right;
    text-align: left;
}

.visualizationHeader {
    overflow: auto;
}

.saveChanges {
    float: right;
    margin-top: 15px;
    width: 10%;
}

.scenarios {
    border: none !important;
    max-height: 300px;
    overflow: auto;
}

.imgs {
    border: 2px solid #fff;
}

.footer {
    width: 100%;
    bottom: 0%;
    background-color: #000;
    margin-top: 2%;
    position: sticky;
}
.footerBtn {
    text-align: center;
}

.param-configuration,
.curves-configuration {
    border-radius: 10px;
    border: 2px solid #fff;
    max-height: 300px;
    margin-top: 20px;
}

.form-parameters {
    margin-top: 3%;
}

.rate-value {
    font-size: 1.5rem;
    color: white;
    padding-left: 12%;
}
