<!-- <div class="spinner-border text-primary" role="status" *ngIf="isLoading()">
    <span class="sr-only">Loading...</span>
</div> -->


<div class="panel-header">
    <div class="visualizationHeader">
        <h3 class="textSimulation"><em>Visualization Area and Simulation Edition</em></h3>
        <button type="submit" *ngIf="formGroup.valid" class="btn btn-primary col-md-3 saveChanges"
            (click)="onSaveChanges()">Save
            changes</button>
        <button type="submit" *ngIf="!formGroup.valid" class="btn btn-primary col-md-3 saveChanges"
            (click)="onSaveChanges()" disabled>Save
            changes</button>
        <!-- <p class="textScenario"><em>Visualization Area and Scenario Edition</em></p> -->
    </div>

</div>

<div class="container">


    <form [formGroup]="formGroup">
        <!-- Start Row 1-->
        <div class="row">


            <div class="col-md-3">
                <label for="simulationName" class="form-label">Simulation Name</label>
                <input class="form-control" formControlName="simulationName">
                <app-message *ngIf="isSubmitForm()" [errors]="getErrors()" [key]="'simulationName'">
                </app-message>
            </div>

            <div class="col-md-3">
                <label for="animalSpecies" class="form-label">Animal Specie</label>
                <select class="form-select form-control" id="animalSpecie" formControlName="animalSpecie">
                    <option value="">Choose Animal Specie</option>
                    <ng-template [ngIf]="animalSpecies.length > 0">

                        <option *ngIf="formGroup.value.animalSpecie?.name" [ngValue]="formGroup.value.animalSpecie">
                            {{formGroup.value.animalSpecie.name}}</option>
                        <ng-template ngFor let-animalS [ngForOf]="animalSpecies">
                            <option
                                *ngIf="formGroup.value.animalSpecie && animalS.name !== formGroup.value.animalSpecie.name"
                                [ngValue]="animalS">
                                {{ animalS.name }}
                            </option>
                        </ng-template>

                    </ng-template>
                </select>

                <app-message *ngIf="isSubmitForm() " [errors]="getErrors()" [key]="'animalSpecie'"></app-message>
            </div>

            <div class="col-md-6">
                <label class="form-label">Simulation description</label>
                <textarea class="form-control" rows="4" formControlName="simulationDescription"></textarea>
            </div>
        </div>
    </form>

    <!-- Start Row 2 -->
    <div class="row mt-4">
        <div class="col-md-12">
            <app-scenarios [scenariosSelected]="scenariosSimulation" (posScenarios)="getPosScenarios($event)"
                (returnScenarios)="getScenarios($event)">
            </app-scenarios>

        </div>
    </div>

    <div class="mt-4 progress">
        <div class="bar-separator progress-bar bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>

</div>


<div class="container" *ngIf="curves.length > 0">

    <div class="row" *ngFor="let curve of curves">
        <div class="col-md-4 param-configuration">
            <p> Some parameters configuration </p>
            <button class="btn btn-primary">Apply changes</button>
        </div>
        <div class="col-md-8 curves-configuration">
            <app-curves [colorLine]="curve.curveConfiguration.colorLine" [series]="curve.curveValues"
                [simulation]="false" [loadOptions]="chartOptions"></app-curves>
        </div>
    </div>


</div>


<div class="container form-parameters">
    <form [formGroup]="fromGroupParameters">
        <div class="row">
            <div class="col-sm-4">
                <label class="form-label">Heart Rate</label>
                <input type="number" class="form-control" formControlName="heartRate">
            </div>
            <div class="col-sm-4">
                <label class="form-label">Breath Rate [rpm]</label>
                <input type="number" class="form-control" formControlName="breathRate">
            </div>
            <div class="col-sm-4">
                <label class="form-label">Temperature[°C]</label>
                <input type="number" class="form-control" formControlName="temperature">
            </div>
        </div>
    </form>
</div>


<footer class="footer">
    <div class="container footerBtn" style="border: 2px solid blue;">
        <button class="btn" (click)="onPlaySimulation()"> <i class="fas fa-play" style="color: white"></i></button>
        <button class="btn" (click)="onPauseSimulation()"> <i class="fas fa-pause" style="color: white"></i></button>
        <button class="btn" (click)="onStopSimulation()"> <i class="fas fa-stop" style="color: white"></i></button>
    </div>
</footer>
