<div class="panel-header">
    <div class="row visualizationHeader">
        <div class="col-md-10">
            <h3 class="textSimulation">Simulation edition</h3>
        </div>
        <div class="col-md-2">
            <button type="submit" *ngIf="formGroup.valid" class="btn btn-primary saveChanges-top"
                (click)="onSaveChanges()">Save
                changes</button>
            <button type="submit" *ngIf="!formGroup.valid" class="btn btn-primary saveChanges-top"
                (click)="onSaveChanges()" disabled>Save
                changes</button>
        </div>

    </div>

</div>

<div class="container container-form">


    <form [formGroup]="formGroup">
        <!-- Start Row 1-->
        <div class="row">


            <div class="col-md-3">
                <label for="simulationName" class="form-label">Simulation Name</label>
                <input class="form-control" formControlName="simulationName">
                <app-message *ngIf="isSubmitForm()" [errors]="getErrors()" [key]="'simulationName'">
                </app-message>
            </div>

            <div class="col-md-3">
                <label for="animalSpecies" class="form-label">Animal Specie</label>
                <select class="form-select form-control" id="animalSpecie" formControlName="animalSpecie">
                    <option value="">Choose Animal Specie</option>
                    <ng-template [ngIf]="animalSpecies.length > 0">

                        <option *ngIf="formGroup.value.animalSpecie?.name" [ngValue]="formGroup.value.animalSpecie">
                            {{formGroup.value.animalSpecie.name}}</option>
                        <ng-template ngFor let-animalS [ngForOf]="animalSpecies">
                            <option
                                *ngIf="formGroup.value.animalSpecie && animalS.name !== formGroup.value.animalSpecie.name"
                                [ngValue]="animalS">
                                {{ animalS.name }}
                            </option>
                        </ng-template>

                    </ng-template>
                </select>

                <app-message *ngIf="isSubmitForm() " [errors]="getErrors()" [key]="'animalSpecie'"></app-message>
            </div>

            <div class="col-md-6">
                <label class="form-label">Simulation description</label>
                <textarea class="form-control" rows="4" formControlName="simulationDescription"></textarea>
            </div>
        </div>
    </form>

    <!-- Start Row 2 -->
    <div class="row mt-4">
        <div class="scenario-configuration">
            <h3 class="text-scenario text-center">Scenario Configuration</h3>
        </div>
        <div class="col-md-12">
            <app-scenarios [scenariosSelected]="scenariosSimulation" (posScenarios)="getPosScenarios($event)"
                (returnScenarios)="getScenarios($event)">
            </app-scenarios>

        </div>
    </div>

    <div class="mt-4 progress" *ngIf="currentState?.curves?.length > 0">
        <div class=" bar-separator progress-bar bg-info" role="progressbar" aria-valuenow="60" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>

</div>
<div class="container form-parameters" *ngIf="currentState?.curves?.length > 0 && !isLoading()">
    <form [formGroup]="fromGroupParameters">
        <div class="row">
            <div class="col-sm-4">
                <label class="form-label">Heart Rate</label>
                <div class="row ml-3" *ngIf="currentState?.action !== 'stop'">
                    <input type="range" class="form-range" min="30" max="250" step="1" formControlName="heartRate"
                        value={{heartRate}}>
                    <span class="rate-value">{{heartRate}}</span>

                </div>
                <div class="row ml-3" *ngIf="currentState?.action === 'stop'">
                    <input type="range" disabled class="form-range" min="30" max="250" step="1" value=0>
                    <span class="rate-value">0</span>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="form-label">Respiration Rate [rpm]</label>
                <div class="row ml-3" *ngIf="currentState?.action !== 'stop'">
                    <input type="range" class="form-range" min="1" max="100" step="1" formControlName="breathRate"
                        value={{breathRate}}>
                    <span class="rate-value">{{breathRate}}</span>
                </div>
                <div class="row ml-3" *ngIf="currentState?.action === 'stop'">
                    <input type="range" disabled class="form-range" min="30" max="250" step="1" value=0>
                    <span class="rate-value">0</span>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="form-label">Temperature [°C]</label>
                <div class="row ml-3" *ngIf="currentState?.action !== 'stop'">
                    <input type="range" class="form-range" min="30" max="45" step="0.5" formControlName="temperature"
                        value={{temperature}}>
                    <span class="rate-value">{{temperature}}</span>
                </div>
                <div class="row ml-3" *ngIf="currentState?.action === 'stop'">
                    <input type="range" class="form-range" min="30" max="250" step="1" value=0 disabled>
                    <span class="rate-value">0</span>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-4">
                <label class="form-label">SPO2</label>
                <div class="row ml-3" *ngIf="currentState?.action !== 'stop'">
                    <input type="range" class="form-range" min="30" max="250" step="1" formControlName="spo2"
                        value={{spo2}}>
                    <span class="rate-value">{{spo2}}</span>
                </div>
                <div class="row ml-3" *ngIf="currentState?.action === 'stop'">
                    <input type="range" disabled class="form-range" min="30" max="250" step="1" value=0>
                    <span class="rate-value">0</span>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="container" *ngIf="currentState?.curves.length > 0 && !isLoading()">
    <div class="curves-configuration-text">
        <h3 class="text-curves text-center">Curves Configuration</h3>

    </div>
    <form [formGroup]="fromGroupParameters">

        <div class="row" *ngFor="let curve of currentState.curves; let i=index">
            <ng-template [ngIf]="curve.curveValues.length > 0">
                <div class="col-md-6 param-configuration">
                    <div class="row">
                        <div class="col-6">
                            <p class="text-curve-label"> {{ curve?.curveConfiguration.label }}</p>
                        </div>
                        <div class="col-md-6">
                            <label class="custom-file-upload">
                                <input class="form-control curves-dataset-input" id="formFile" type="file" accept=".csv"
                                    (change)="onFileChange($event, i)">
                                Replace Curve
                            </label>
                        </div>
                    </div>


                    <div class="row" *ngIf="curve?.curveConfiguration.label == 'IBP'">
                        <div class="col-sm-4">
                            <label class="form-label">Diastolic Pressure</label>
                            <div class="row" *ngIf="currentState?.action !== 'stop'">
                                <input type="range" class="form-range form-range-box" min="0" max="{{systolicIbp - 1}}"
                                    step="1" formControlName="ibpDiastolic" value={{diastolicIbp}}>
                                <span class="rate-value-box">{{diastolicIbp}}</span>
                            </div>
                            <div class="row" *ngIf="currentState?.action === 'stop'">
                                <input type="range" class="form-range form-range-box" min="0" max="{{systolicIbp - 1}}"
                                    step="1" value=0 disabled>
                                <span class="rate-value-box">0</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">Systolic Pressure</label>
                            <div class="row" *ngIf="currentState?.action !== 'stop'">
                                <input type="range" class="form-range form-range-box" min="0" max="250" step="1"
                                    formControlName="ibpSystolic">
                                <span class=" rate-value-box">{{systolicIbp}}</span>
                            </div>
                            <div class="row" *ngIf="currentState?.action === 'stop'">
                                <input type="range" class="form-range form-range-box" min="0" max="250" step="1"
                                    disabled value=0>
                                <span class="rate-value-box">0</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="curve?.curveConfiguration.label == 'CO2'">
                        <div class="col-sm-4">
                            <label class="form-label">End Tidal</label>
                            <div class="row" *ngIf="currentState?.action !== 'stop'">
                                <input type="range" class="form-range form-range-box" min="0" max="50" step="1"
                                    formControlName="endTidalCO2" value={{endTidalCO2}}>
                                <span class="rate-value-box">{{endTidalCO2}}</span>
                            </div>
                            <div class="row" *ngIf="currentState?.action === 'stop'">
                                <input type="range" class="form-range form-range-box" min="0" max="50" step="1" value=0
                                    disabled>
                                <span class="rate-value-box">0</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">Inspiration</label>
                            <div class="row" *ngIf="currentState?.action !== 'stop'">
                                <input type="range" class="form-range form-range-box" min="0" max="10" step="1"
                                    formControlName="inspirationCO2" value={{inspirationCO2}}>
                                <span class="rate-value-box">{{inspirationCO2}}</span>
                            </div>
                            <div class="row" *ngIf="currentState?.action === 'stop'">
                                <input type="range" class="form-range form-range-box" min="0" max="10" step="1" value=0
                                    disabled>
                                <span class="rate-value-box">0</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-4" formArrayName="valueToShift">
                            <div [formGroupName]="i">
                                <label class="form-label">Shift Curve</label>
                                <div class="row" *ngIf="currentState?.action !== 'stop'">
                                    <input type="range" class="form-range form-range-box" min="0" max="4" step="0.5"
                                        formControlName="value" value={{i}}>
                                    <span class="rate-value-box">{{shiftValues[i]}}</span>
                                </div>
                                <div class="row" *ngIf="currentState?.action === 'stop'">
                                    <input type="range" class="form-range form-range-box" min="0" max="4" step="0.5"
                                        value=0 disabled>
                                    <span class="rate-value-box">0</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" formArrayName="amplitude">
                            <div [formGroupName]="i">
                                <label class="form-label">Amplitude</label>
                                <div class="row" *ngIf="currentState?.action !== 'stop'">
                                    <input type="range" class="form-range form-range-box" min="1" max="6" step="0.5"
                                        formControlName="value" value={{i}}>
                                    <span class="rate-value-box">{{amplitudeValues[i]}}</span>
                                </div>
                                <div class="row" *ngIf="currentState?.action === 'stop'">
                                    <input type="range" class="form-range form-range-box" min="1" max="6" step="0.5"
                                        value=0 disabled>
                                    <span class="rate-value-box">0</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-md-5 curves-configuration mini-monitor">
                    <app-mini-monitor [curves]="curve" [rate]="getRate(i)" [action]="this.currentState?.action"
                        [updatedState]="updatedState" [breathCurve]="breathCurve(i)" #miniMonitor>
                    </app-mini-monitor>
                </div>
            </ng-template>

        </div>
    </form>


</div>

<button class="btn btn-primary btn-spinner" type="button" disabled *ngIf="isLoading()">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Loading...
</button>


<footer class="footer">
    <div class="container footerBtn">
        <button class="btn" (click)="applyChanges()">
            <img src="https://img.icons8.com/fluency/33/000000/refresh.png" />&nbsp; Apply Changes
        </button>
        <button class="btn" (click)="onPlaySimulation()"> <img src="https://img.icons8.com/fluency/33/000000/play.png"
                title="Play simulation" />&nbsp;Play</button>
        <button class="btn" (click)="onPauseSimulation()"> <img src="https://img.icons8.com/fluency/33/000000/pause.png"
                title="Freeze simulation" />&nbsp;Freeze</button>
        <button class="btn" (click)="onStopSimulation()" title="Stop simulation"><img
                src="https://img.icons8.com/fluency/33/000000/stop.png" />&nbsp;Stop</button>
        <button class="btn" (click)="onUnmuteAlarms()" *ngIf="muteAlarms"> <img
                src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/33/000000/external-mute-multimedia-kiranshastry-lineal-color-kiranshastry.png" />
            &nbsp; Unmute
            alarms</button>
        <button class="btn" (click)="onMuteAlarms()" *ngIf="!muteAlarms">
            <img
                src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/33/000000/external-volume-multimedia-kiranshastry-lineal-color-kiranshastry.png" />
            &nbsp; Mute alarms
        </button>
        <button class="btn" (click)="resetSimulation()">
            <img src="https://img.icons8.com/fluency/33/000000/recurring-appointment.png" />
            &nbsp; Reset Simulation
        </button>
        <button class="btn" (click)="configureNIBP()">
            <img src="/assets/icons/nibp.png" />
            &nbsp; NIBP &nbsp;
        </button>
        <!-- <button class="btn"> <img
                src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/33/000000/external-settings-interface-kiranshastry-lineal-color-kiranshastry.png" />
            &nbsp; Monitor settings</button> -->
        <a [routerLink]="['/monitor']" target="_blank">
            <img
                src="https://img.icons8.com/external-icongeek26-flat-icongeek26/33/000000/external-ecg-pregnancy-amp-maternity-icongeek26-flat-icongeek26.png" />
            &nbsp; Go to Monitor
        </a>
    </div>
</footer>
