.panel-header {
    width: 100%;
}

.bar-separator {
    width: 100%;
}

.textSimulation {
    text-align: center;
    font-size: 2em;
    margin-left: 4%;
}

.textScenario {
    width: 50%;
    float: right;
    text-align: left;
}

.visualizationHeader {
    margin-top: 2%;
    width: 100%;
}

.scenarios {
    border: none !important;
    max-height: 300px;
    overflow: auto;
}

.imgs {
    border: 2px solid #fff;
}

.footer {
    width: 100%;
    bottom: 0%;
    background-color: #212122;
    margin-top: 2%;
    position: sticky;
}
.footerBtn {
    text-align: center;
}

.param-configuration,
.curves-configuration {
    border-radius: 10px;
    border: 2px solid #000;
    max-height: 300px;
    margin-top: 20px;
}
.param-configuration {
    margin-left: 2%;
}

.curves-configuration {
    margin-left: 4%;
}

.form-parameters {
    margin-top: 3%;
}

.rate-value {
    font-size: 1.5rem;
    padding-left: 12%;
}

.rate-value-box {
    font-size: 1em;
    width: 30%;
    margin-left: 12%;
}

.form-range-box {
    width: 80%;
    margin-left: 12%;
}

.btn,
a {
    color: #fff;
}

.mini-monitor {
    background-color: #000;
}

.text-curve-label {
    width: 20%;
}

.curves-dataset-input {
    background-color: transparent;
    padding-left: 0;
}

.custom-file-upload {
    margin-top: 2%;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    margin-left: 50%;
    cursor: pointer;
    background-color: #59478d;
    border-color: #59478d;
    color: #fff;
}

.custom-file-upload:hover {
    color: #59478d;
    border-color: #fff;
    background-color: #fff;
}

input[type="file"] {
    display: none;
}

.btn-spinner {
    margin-left: 5%;
}

@media (min-width: 1024px) {
    .textSimulation {
        text-align: center;
        padding-left: 15%;
        font-size: 2em;
    }

    .container-form {
        margin-top: 4%;
    }

    .saveChanges-top {
        display: block;
        background-color: #59478d;
        border-color: #59478d;
        color: #fff;
        height: 60px;
    }

    .saveChanges-top:hover {
        color: #59478d;
        border-color: #fff;
        background-color: #fff;
    }

    .scenario-configuration,
    .curves-configuration-text {
        width: 100%;
        margin-top: 2%;
    }

    .text-scenario,
    .text-curves {
        font-size: 2em;
    }

    .footerBtn .btn :hover img {
        width: 30px;
    }
}
