<!-- <div echarts [options]="chartOption" [initOpts]="loadOptions" (chartInit)="onChartInit($event)"
    [ngClass]="{'simulation': simulation, 'panel': !simulation}" [merge]="dynamicChart"></div> -->
<div *ngIf="simulation else noSimulation">
    <div *ngFor="let chart of chartsOptions">
        <apx-chart #chart [series]="chart.series" [stroke]="chart.stroke" [xaxis]="chart.xaxis" [yaxis]="chart.yaxis"
            [markers]="chart.markers" [dataLabels]="chart.dataLabels" [chart]="chart.chart" [grid]="chart.grid"
            [tooltip]="chart.tooltip" [autoUpdateSeries]=false>
        </apx-chart>
    </div>
</div>


<ng-template #noSimulation>
    <div *ngFor="let chart of chartsOptions">
        <apx-chart [series]="chart.series" [stroke]="chart.stroke" [xaxis]="chart.xaxis" [yaxis]="chart.yaxis"
            [markers]="chart.markers" [dataLabels]="chart.dataLabels" [chart]="chart.chart" [grid]="chart.grid">
        </apx-chart>
    </div>
</ng-template>
