<div *ngIf="simulation else noSimulation">
    <div id="charts" class="row" *ngFor="let chart of chartsOptions; let i = index">
        <div class="col-9">
            <apx-chart #chart [series]="chart.series" [stroke]="chart.stroke" [xaxis]="chart.xaxis"
                [yaxis]="chart.yaxis" [markers]="chart.markers" [dataLabels]="chart.dataLabels" [chart]="chart.chart"
                [grid]="chart.grid" [tooltip]="chart.tooltip" [autoUpdateSeries]=false [legend]="chart.legend">
            </apx-chart>
        </div>
        <div class="col-2 curve-configuration">
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-5">
                    <p class="text-rate" [style.color]="getColor(currentState.curves[i])">
                        {{getSourceRateValue(currentState.curves[i])}}</p>
                </div>
                <div class="col-4 parameter-box-var">
                    <p class="first-var" [style.color]="getColor(currentState.curves[i])">
                        {{currentState.curves[i].curveConfiguration.alert_high}}
                    </p>
                    <p [style.color]="getColor(currentState.curves[i])">
                        {{currentState.curves[i].curveConfiguration.alert_low}}</p>
                    <p [style.color]="getColor(currentState.curves[i])">
                        {{currentState.curves[i].curveConfiguration.source.label}}</p>
                    <p [style.color]="getColor(currentState.curves[i])">
                        {{currentState.curves[i].curveConfiguration.unit}}</p>
                </div>
            </div>

        </div>
        <div class="col-1 curve-label">
            <p class="text-label" [style.color]="getColor(currentState.curves[i])">
                {{currentState.curves[i].curveConfiguration.label}}</p>
        </div>
    </div>

</div>


<ng-template #noSimulation>
    <div *ngFor="let chart of chartsOptions">
        <apx-chart [series]="chart.series" [stroke]="chart.stroke" [xaxis]="chart.xaxis" [yaxis]="chart.yaxis"
            [markers]="chart.markers" [dataLabels]="chart.dataLabels" [chart]="chart.chart" [grid]="chart.grid">
        </apx-chart>
    </div>
</ng-template>
