.simulation {
    margin-left: -100px;
    margin-right: -160px;
    padding: 0px;
}

.panel {
    /* margin-left: -100px;
    margin-right: -100px; */
    padding: 0px;
}

.curves {
    /* max-height: 120px; */
    margin-right: 0px;
}

.curve-configuration {
    border: 2px solid #fff;
    border-radius: 10px;
    max-height: 120px;
    padding: 0px;
}

.curve-label {
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 0px;
    max-width: 20px;
    max-height: 120px;
}

.text-label {
    writing-mode: vertical-lr;
    /* width: 10px; */
    padding: 25px 0px 25px;
    font-size: 20px;
    margin-left: -13px;
    /* margin-left: 10px; */
}
