<!-- <div echarts [options]="chartOption" [initOpts]="loadOptions" (chartInit)="onChartInit($event)"
    [ngClass]="{'simulation': simulation, 'panel': !simulation}" [merge]="dynamicChart"></div> -->
<div *ngIf="simulation else noSimulation">
    <div class="curves" *ngFor="let chart of chartOptions; let i = index">
        <div echarts [options]="chart" [initOpts]="loadOptions" class="simulation" [merge]="dynamicCharts[i]"
            (chartInit)="onChartInit($event)">
        </div>
    </div>
</div>


<ng-template #noSimulation>
    <div echarts [options]="chartOption" [initOpts]="loadOptions" class="panel">
    </div>
</ng-template>
