.sidebar {
    min-width: 200px;
    text-align: center;
    background: #262424;
    color: #fff;
    height: 100%;
}

.sidebar.sidebarCollapse {
    justify-content: center;
}
.hidden {
    margin-top: 20px;
}

.sidebar .sidebar-header h3 {
    display: block;
    color: #fff;
}
.sidebar .sidebar-header h3 {
    display: block;
    color: #fff;
}
.sidebar ul li a {
    text-align: left;
}

.sidebar ul li a {
    padding: 20px 10px;
    text-align: left;
    font-size: 0.85em;
}

.sidebar ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

.sidebar ul ul a {
    padding: 10px !important;
}

.sidebar::after {
    top: auto;
    bottom: 10px;
    /* right: 50%; */
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.sidebar .sidebar-header {
    padding: 20px;
    background: #262424;
}

.sidebar .sidebar-header h3 {
    font-size: 1.8em;
    letter-spacing: 2px;
}

.sub-header h4 {
    font-size: 1.1em;
    letter-spacing: 1px;
}

.sidebar ul.components {
    padding: 20px 0;
}

.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}

.sidebar ul li a:hover,
.sidebar ul li a:hover {
    color: #fff;
    background: #545555;
}

.sidebar ul li a i {
    margin-right: 10px;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.container {
    overflow: hidden;
}
