.sidebar {
  min-width: 150px;
  max-width: 200px;
  background: #393836;
  color: #fff;
  height: 100%;
  transition: all 0.5s;
}

.sidebarCollapse{
  margin:20px;
}
.sidebarToggle {
  min-width: 80px;
  max-width: 80px;
  height: 100%;
  text-align: center;
  transition: all 0.2s;
  background: #393836;
  color: #fff;
}

.sidebar.sidebarCollapse {
  justify-content: center;
}
.hidden {
  margin-top: 20px;
}

.sidebarToggle .sidebar-header h3,
.sidebarToggle .hidden {
  display: none;
}

.sidebarToggle .sidebar-header h3 {
  display: block;
  color: #FFF;
}
.sidebar .sidebar-header h3 {
  display: block;
  color: #FFF;
}
.sidebar ul li a {
  text-align: left;
}

.sidebarToggle ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

.sidebarToggle ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

.sidebarToggle ul ul a {
  padding: 10px !important;
}

.sidebarToggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

.sidebar .sidebar-header {
  padding: 20px;
  background: #393836;
}

.sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

.sidebar ul.components {
  padding: 20px 0;
}

.sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

.sidebar ul li a:hover, .sidebarToggle ul li a:hover {
  color: #7386D5;
  background: #fff;
}

.sidebar ul li a i {
  margin-right: 10px;
}



ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

