<div class="container">
    <div [hidden]="submitted"> 
        <h1> Iniciar sesión </h1>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="form-group">
                <label for="usuario"> Usuario </label>
                <input type="text" class="form-control" name="user" required [(ngModel)]="usuario" #user="ngModel">
                <div [hidden]="user.valid || user.pristine" class="alert alert-danger">
                    El usuario es requerido.
                </div>
            </div>
            <div class="form-group"> 
                <label for="psw"> Contraseña </label>
                <input type="password" class="form-control" name="psw" required [(ngModel)]="psw">
            </div>
            <button type="submit" class="btn btn-sucess" (click)="login(usuario, psw); loginForm.reset()" [disabled]="!loginForm.form.valid"> Iniciar Sesión </button>
        </form>
    </div>
</div>

<div [hidden]="!submitted">
    <h2> Logueo exitoso! </h2>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Cerrar Sesión</button>
  </div>