<nav class="sidebar">

    <ng-template [ngIf]="type === 'home'">
        <div class="sidebar-header">
            <h3 class="font-weight-bold text-center"> Welcome </h3>
        </div>

        <ul class="list-unstyled components">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']"> <img
                        src="https://img.icons8.com/color/28/000000/home-page.png" />
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/auth/login']"> <img
                        src="https://img.icons8.com/color/28/000000/login-rounded-right.png" /> Login </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/auth/register']">
                    <img src="https://img.icons8.com/color/28/000000/add-user-male--v1.png" /> Register </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/about']">
                    <img src="https://img.icons8.com/color/28/000000/about.png" />
                    About
                </a>
            </li>
        </ul>
    </ng-template>

    <ng-template [ngIf]="type === 'user'">
        <div class="sidebar-header">
            <h3 class="font-weight-bold text-center"> Welcome </h3>
        </div>
        <section class="container sub-header">
            <h4 class="font-weight-bold text-align-center"> Simulation </h4>
        </section>

        <ul class="list-unstyled components">

            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/simulation/new']">  <img
                    src="https://img.icons8.com/bubbles/28/000000/new.png" /> New </a>
            </li>

            <li class="nav-item">

                <a class="nav-link" [routerLink]="['/panel']">  <img
                    src="https://img.icons8.com/dusk/28/000000/admin-settings-male.png" /> Manage simulations </a>
            </li>

        </ul>

        <br>

        <section #manageDatabase class="container sub-header">
            <h4 class="font-weight-bold text-align-center"> Manage DataBase </h4>
        </section>

        <ul class="list-group">
            <li class="nav-item">

                <a class="nav-link" [routerLink]="['/panel/animalSpecie']">  <img
                    src="https://img.icons8.com/color/28/000000/dog.png" /> Animal Species</a>
            </li>

            <li class="nav-item">

                <a class="nav-link" [routerLink]="['/panel/pathologies']">  <img
                    src="https://img.icons8.com/color/28/000000/microorganisms.png" /> Pathologies </a>
            </li>

            <li class="nav-item">

                <a class="nav-link" [routerLink]="['/panel/medications']">   <img
                    src="https://img.icons8.com/color/28/000000/pills.png" /> Medications</a>
            </li>

            <li class="nav-item">

                <a class="nav-link" [routerLink]="['/panel/arrhythmias']">  <img
                    src="https://img.icons8.com/color/28/000000/pulse.png" /> Arrhythmias </a>
            </li>

            <li class="nav-item">

                <a class="nav-linl" [routerLink]="['/auth/logout']"> Logout</a>
            </li>

        </ul>

        <section class="container sub-header">

            <a class="nav-link" [routerLink]="['/panel']">
                <h4 class="font-weight-bold text-align-center"> My Profile </h4>
            </a>

        </section>


        <br>

    </ng-template>

    </nav>
<!-- </div> -->
