.no-simulation {
    height: 100%;
}

.header-monitor {
    height: 5vh;
    text-overflow: ellipsis;
}

.chart-container {
    flex: 1;
    box-sizing: border-box;
}

p,
h3,
h4 {
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.chart-container {
    height: calc(79vh / 4);
}

.nibp-measurement,
.parameter-box {
    margin-top: 2px;
    margin-bottom: 2px;
    border: 4px solid #fff;
    border-radius: 10px;
}

.monitor-container {
    max-height: 100%;
    overflow: hidden;
}

.text-temperature {
    font-size: 1.3em;
}

@media screen and (max-width=600px) {

    .nibp-measurement,
    .parameter-box {
        display: none;
    }
}