<div class="container-fluid h-100" *ngIf="isMonitorConnected() else noSimulation">
    <div class="row header-monitor">
        <div class="col-5">
            <p class="text-left">
                <span *ngIf="getAnimalName()" class="text-animal-specie">
                    {{ getAnimalName() }} - {{getScenarioDescription() | textOverflow: 40 }}
                </span>
            </p>
        </div>
    </div>

    <div class="curves-container">
        <div class="row curve-container"
            *ngFor="let curveData of getCurvesToShowInMonitor(); let i = index; trackBy: trackByFn">
            <div class="col-9" *ngIf="curveData.showCurves">
                <!-- Gráficos -->
                <div class="container-fluid chart-container">
                    <app-chart #chartComponent [colorLine]="curveData.colorLine" [maxY]="curveData.maxY"
                        [height]="getChartHeight()" [dataset]="curveData.normalizedCurve"> </app-chart>
                </div>
            </div>
            <div class=" col-3 curve-container" style="border: 2px solid yellow" *ngIf="curveData.showCurves">
                <!-- Parameter Box -->
                <div class="container-fluid chart-container">
                    <app-parameter-box-monitor [color]="curveData.colorLine" [breathRate]="getBreathRate()"
                        [diastolicPressure]="getDiastolicPressure()" [etCO2]="getEndTidalCO2()"
                        [heartRate]="getHeartRate()" [inspirationCO2]="getInspirationCO2()"
                        [systolicPressure]="getSystolicPressure()" [oxygenSaturation]="getOxygenSaturation()"
                        [parameter]="curveData" [meanPressure]="getMeanPressure()"> </app-parameter-box-monitor>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noSimulation class="mt-4 no-simulation">

    <div class="container row no-simulation">
        <div class="spinner-border text-danger" role="status">
        </div>
        <div class="ml-4">
            <h3 class="text-center">Waiting for simulation</h3>
        </div>
    </div>
</ng-template>
