<div class="container text-center align-items-center ">
    <div class="header-box">
        <div class="row justify-content-center">
            <div class="col-12 monitor-box" >
                <img class="scale-up-hor-center " src="/assets/icons/monitor-menu.png"/>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <h3 class="text-center text-bold">
                    Initiate Simulation
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center subtitle">Choose an option to initiate a new simulation</p>
            </div>
        </div>


    </div>
    <div class="row justify-content-center parent-box">
        <div class="col-3 box-col" (click)="initiateWithPreviousSimulation()">
            <div class="inner">
                <div class="front">
                    <p>Continue simulation</p>
                </div>
                <div class="back">
                    <p>Initiate with an existing simulation</p>
                </div>
            </div>
        </div>
        <div class="col-3 box-col" (click)="initiateWithPreviousScenario()">
            <div class="inner">
                <div class="front">
                    <p>Initiate with previous scenarios</p>
                </div>
                <div class="back">
                    <p>Initiate new simulation with an existing scenario</p>
                </div>
            </div>
        </div>
        <div class="col-3 box-col" (click)="initiateCustomSimulation()">
            <div class="inner">
                <div class="front">
                    <p class="text-bold">Ad-hoc simulation</p>
                </div>
                <div class="back">
                    <p>Create a custom simulation with a new clinical scenario</p>
                </div>
            </div>
        </div>


    </div>


</div>
