h3 {
    text-align: center;
    font-size: 1em;
}

h2 {
    font-size: 1.5em;
}

.card {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: #b7a9e2;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 50%;
}

.card-header {
    background-color: #b7a9e2;
}

.btn-new {
    margin-top: 5%;
    border: none;
}

.container {
    align-items: center;
    justify-content: center;
}

label,
input {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-new {
    color: #f3f1f5;
    background-color: #59478d;
}

.btn-new:hover {
    background-color: #f3f1f5;
    color: #59478d;
}

button img {
    padding-right: 1%;
}
@media (min-width: 1024px) {
    .container {
        width: 75%;
    }

    .card {
        margin-top: 15%;
    }

    h3 {
        font-size: 2em;
    }

    h2 {
        font-size: 2.5em;
    }
}
