<nav class="sidebar" [ngClass]="{'dockNav': !sidebarOpen}">

    <div *ngIf="sidebarOpen else userDock">
        <div class="container img-logo">
            <img src="../../../assets/images/logo transparente.png" height="70">

        </div>

        <section class="container sub-header">
            <h4 class="font-weight-bold text-align-center"> Simulation </h4>
        </section>

        <ul class="list-unstyled components">

            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/simulation/new']"> <img
                        src="https://img.icons8.com/doodle/28/000000/play-button-circled.png" /> &nbsp;New
                    Simulation</a>
            </li>

            <!-- <li class="nav-item">

                <a class="nav-link" [routerLink]="['/panel']"> <img
                        src="https://img.icons8.com/color/28/000000/settings--v1.png" /> &nbsp;Manage simulations
                </a>
            </li> -->

        </ul>

        <section #manageDatabase class="container sub-header">
            <h4 class="font-weight-bold text-align-center"> Configurations </h4>
        </section>



        <ul class="list-group">
            <li class="nav-item">

                <a class="nav-link" [routerLink]="['/panel/animalSpecie']"> <img
                        src="https://img.icons8.com/color/28/000000/dog.png" /> &nbsp; Animal Species</a>
            </li>

            <li class="nav-item">

                <a class="nav-link" [routerLink]="['/panel/pathologies']"> <img
                        src="https://img.icons8.com/color/28/000000/microorganisms.png" /> &nbsp;Pathologies </a>
            </li>

            <li class="nav-item">

                <a class="nav-link" [routerLink]="['/panel/medications']"> <img
                        src="https://img.icons8.com/color/28/000000/pills.png" /> &nbsp;Medications</a>
            </li>

            <li class="nav-item">

                <a class="nav-link" [routerLink]="['/panel/arrhythmias']"> <img
                        src="https://img.icons8.com/color/28/000000/pulse.png" /> &nbsp;Arrhythmias </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/panel/parameters']"><img
                        src="https://img.icons8.com/external-flat-chattapat-/28/000000/external-ecg-medical-flat-chattapat-.png" />
                    &nbsp;Parameters
                </a>
            </li>

            <li class="nav-item">

                <a class="nav-link" [routerLink]="['/panel/scenarios']"> <img
                        src="https://img.icons8.com/plasticine/28/000000/hospital-gown.png" /> &nbsp;Scenarios</a>
            </li>


            <li class="nav-item" *ngIf="isUserAdmin()">

                <a class="nav-link" [routerLink]="['/users']"> <img src="../../../assets/icons/users.png" />
                    &nbsp;Users</a>
            </li>


            <!-- <li class="nav-item">

                <a class="nav-link" [routerLink]="['/users']">
                    <img src="https://img.icons8.com/fluency/28/000000/test-account.png" /> &nbsp; Users
                </a>
            </li> -->

        </ul>


    </div>


</nav>




<ng-template #userDock>

    <ul class="list-unstyled components dock">

        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/simulation/new']"> <img
                    src="https://img.icons8.com/doodle/28/000000/play-button-circled.png" /> </a>
        </li>

        <!-- <li class="nav-item">

            <a class="nav-link" [routerLink]="['/panel']">
                <img src="https://img.icons8.com/color/28/000000/settings--v1.png" />
            </a>
        </li> -->

    </ul>

    <ul class="list-unstyled components list-group">
        <li class="nav-item">

            <a class="nav-link" [routerLink]="['/panel/animalSpecie']"> <img
                    src="https://img.icons8.com/color/28/000000/dog.png" /> </a>
        </li>

        <li class="nav-item">

            <a class="nav-link" [routerLink]="['/panel/pathologies']"> <img
                    src="https://img.icons8.com/color/28/000000/microorganisms.png" />
            </a>
        </li>

        <li class="nav-item">

            <a class="nav-link" [routerLink]="['/panel/medications']"> <img
                    src="https://img.icons8.com/color/28/000000/pills.png" /> </a>
        </li>

        <li class="nav-item">

            <a class="nav-link" [routerLink]="['/panel/arrhythmias']">
                <img src="https://img.icons8.com/color/28/000000/pulse.png" /> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/panel/parameters']"><img
                    src="https://img.icons8.com/external-flat-chattapat-/28/000000/external-ecg-medical-flat-chattapat-.png" />
            </a>
        </li>
        <li class="nav-item">

            <a class="nav-link" [routerLink]="['/panel/scenarios']"> <img
                    src="https://img.icons8.com/plasticine/28/000000/hospital-gown.png" /> </a>

        </li>

        <li class="nav-item" *ngIf="isUserAdmin()">

            <a class="nav-link" [routerLink]="['/users']"> <img src="../../../assets/icons/users.png" />
            </a>
        </li>

    </ul>


</ng-template>
