<nav class="sidebar" [ngClass]="{'dockNav': !sidebarOpen}">

    <div *ngIf="sidebarOpen else userDock">
        <div class="container img-logo">
            <img src="../../../assets/images/logo transparente.png" height="70">

        </div>

        <section class="container sub-header">
            <h4 class="font-weight-bold text-align-center"> Simulation </h4>
        </section>

        <ul class="list-unstyled components">

            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/simulation/new']"> <img
                        src="/assets/icons/play-button-circled.png" /> &nbsp;New
                    Simulation</a>
            </li>

        </ul>

        <section #manageDatabase class="container sub-header">
            <h4 class="font-weight-bold text-align-center"> Configurations </h4>
        </section>



        <ul class="list-group">
            <li class="nav-item">

                <a class="nav-link" [routerLink]="['/panel/animalSpecie']"> <img src="/assets/icons/dog.png" /> &nbsp;
                    Animal Patients</a>
            </li>

            <li class="nav-item">

                <a class="nav-link" [routerLink]="['/panel/pathologies']"> <img
                        src="/assets/icons/microorganisms.png" /> &nbsp;Pathologies </a>
            </li>

            <li class="nav-item">

                <a class="nav-link" [routerLink]="['/panel/medications']"> <img src="/assets/icons/pills.png" />
                    &nbsp;Medications</a>
            </li>

            <li class="nav-item">

                <a class="nav-link" [routerLink]="['/panel/arrhythmias']"> <img src="/assets/icons/pulse.png" />
                    &nbsp;Arrhythmias </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/panel/parameters']"><img src="/assets/icons/external-ecg.png" />
                    &nbsp;Parameters
                </a>
            </li>

            <li class="nav-item">

                <a class="nav-link" [routerLink]="['/panel/scenarios']"> <img src="/assets/icons/hospital.png" />
                    &nbsp;Scenarios</a>
            </li>


            <li class="nav-item" *ngIf="isUserAdmin()">

                <a class="nav-link" [routerLink]="['/users']"> <img src="../../../assets/icons/users.png" />
                    &nbsp;Users</a>
            </li>


        </ul>


    </div>


</nav>




<ng-template #userDock>

    <ul class="list-unstyled components dock">

        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/simulation/new']"> <img src="/assets/icons/play-button-circled.png" />
            </a>
        </li>

    </ul>

    <ul class="list-unstyled components list-group">
        <li class="nav-item">

            <a class="nav-link" [routerLink]="['/panel/animalSpecie']"> <img src="/assets/icons/dog.png" /> </a>
        </li>

        <li class="nav-item">

            <a class="nav-link" [routerLink]="['/panel/pathologies']"> <img src="/assets/icons/microorganisms.png" />
            </a>
        </li>

        <li class="nav-item">

            <a class="nav-link" [routerLink]="['/panel/medications']"> <img src="/assets/icons/pills.png" /> </a>
        </li>

        <li class="nav-item">

            <a class="nav-link" [routerLink]="['/panel/arrhythmias']">
                <img src="/assets/icons/pulse.png" /> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/panel/parameters']"><img src="/assets/icons/external-ecg.png" />
            </a>
        </li>
        <li class="nav-item">

            <a class="nav-link" [routerLink]="['/panel/scenarios']"> <img src="/assets/icons/hospital.png" /> </a>

        </li>

        <li class="nav-item" *ngIf="isUserAdmin()">

            <a class="nav-link" [routerLink]="['/users']"> <img src="/assets/icons/users.png" />
            </a>
        </li>

    </ul>


</ng-template>
