<div class="wrapper" >

  <nav [ngClass]="toggle ? 'sidebar': 'sidebarToggle'">
    <div class="sidebar-header">
      <button type="button" class="btn btn-info sidebarCollapse" (click)="collapse()">
        <i class="fas fa-align-left">
          <img src="https://img.icons8.com/ios-glyphs/20/000000/sorting-options.png" *ngIf="!toggle"/>
        </i>
        <i class="fas fa-align-left">
        <img src="https://img.icons8.com/flat_round/30/000000/arrow--v1.png" *ngIf="toggle"/>
      </i>
      </button>

      <img src="../../../assets/logo transparente.png" class="hidden">

      <h3 class="font-weight-bold text-center"> Welcome </h3>
    </div>

    <ul class="list-unstyled components">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']"> <img src="https://img.icons8.com/color/28/000000/home-page.png"/>
          Home
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/auth/login']"> <img src="https://img.icons8.com/color/28/000000/login-rounded-right.png"/> Login </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/auth/register']">
          <img src="https://img.icons8.com/color/28/000000/add-user-male--v1.png"/> Register </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']">
          <img src="https://img.icons8.com/color/28/000000/about.png"/>
            About
        </a>
    </li>

    </ul>
  </nav>

  <div id="content">

    <div [hidden]="submit" class="row">
      <div class="col-md-6 mx-auto mt-5">
          <div class="card">
              <div class="card-body">
                  <h1 class="text-center"> Sign In </h1>
                  <form  #loginForm="ngForm">
                      <div class="form-group">
                          <label for="usuario"> User </label>
                          <input type="text" class="form-control" name="email" required [(ngModel)]="email" #user="ngModel">
                          <div [hidden]="user.valid" class="alert alert-danger">
                              E_mail is required.
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="psw"> Password </label>
                          <input type="password" class="form-control" name="password" required [(ngModel)]="password" #psw="ngModel">
                          <div [hidden]="psw.valid" class="alert alert-danger">
                              Password is required
                          </div>
                      </div>
                      <button type="submit" class="btn btn-primary btn-block" (click)="login()" [disabled]="!loginForm.form.valid"> Sign In </button>
                  </form>
                  <div class="form-group mt-3">
                      <p> You do not have an account? <a [routerLink]="['/register']"> Register </a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>


</div>
</div>

