<div class="container col-md-6">
  <h1>Animal species</h1>
  <form action="" class ="form-group" #form="ngForm">
    <div class ="form-group">
      <label for="nameAnimal">Animal name</label>
       <input class= "form-control" type="text"  name="nameAnimal" required [(ngModel)]= "nameAnimal" >
    </div>
    <div class ="form-group">
      <label for="description">Animal description</label>
      <input type="text" class= "form-control" name="description" required [(ngModel)]="description">
    </div>
    <div class ="form-group">
      <label for="weight">Animal weigth</label>
      <input type="text" class="form-control" name="weight" [(ngModel)]="weight">
    </div>
    <button type="submit" [disabled]="!form.form.valid" class = "btn btn-primary btn-block" (click)='saveAnimal()'>
      Save
    </button>
  </form>
</div>
