.curves {
    margin-top: -200px;
}

.curves2 {
    margin-top: -200px;
}

.ecgConfig {
    margin-top: 60px;
    max-height: 90px;
}

.ecg {
    margin-top: -60px;
}

.capnographyConfig {
    margin-top: -50px;
    max-height: 140px;
}

.ecgConfig,
.capnographyConfig,
.art1-config,
.pa2-config,
.spo2-config {
    border: 2px solid #fff;
    border-radius: 10px;
}

.col-labels {
    border-radius: 10px;
    border: 2px solid #fff;
}

.ecgLabel {
    margin-top: 60px;
    max-height: 90px;
    max-width: 10px;
}

.art1-label {
    margin-top: -110px;
    max-height: 100px;
    max-width: 10px;
}

.textLabel {
    writing-mode: vertical-lr;
    margin-left: -15px;
    margin-top: 5px;
    font-size: large;
    text-orientation: upright;
}

.capLabel {
    max-height: 140px;
    max-width: 10px;
    margin-top: -50px;
}

.pa2-config {
    margin-top: -160px;
    max-height: 100px;
}

.pa2-label {
    margin-top: -160px;
    max-width: 10px;
    max-height: 100px;
}

.pa2-labelText {
    margin-top: 9px;
    color: #7032db;
}

.ecgLabelText {
    color: #7dc97a;
}
.capLabelText {
    color: #6ec1ed;
    margin-top: 25px;
}

.curves3 {
    margin-top: -250px;
}

.art1-config {
    margin-top: -110px;
    max-height: 100px;
}

.art1-labelText {
    font-size: large;
    margin-top: 0.2px;
    color: #7032db;
}

.spo2-config {
    margin-top: -4px;
    width: 279px;
    /* max-height: 200px !important; */
}

.spo2-labelText {
    color: #b9957b;
    border-radius: 10px;
    border: 2px solid #fff;
    height: 108px;
    width: 33px;
}

.nibp-config {
    border-radius: 10px;
    border: 2px solid #fff;
    width: 279px;
}

.nibp-labelText {
    color: #fff;
    border-radius: 10px;
    border: 2px solid #fff;
    margin-top: -18px;
    height: 108px;
    width: 33px;
}

.tempConfig {
    border-radius: 10px;
    border: 2px solid #fff;
    width: 279px;
}

.temp-labelText {
    color: #22a504;
    border-radius: 10px;
    border: 2px solid #fff;
    margin-top: -18px;
    height: 108px;
    width: 33px;
}
