.title {
    font-size: 1.1em;
    font-weight: bold;
}

.modal-header,
.modal-body {
    background-color: #121212;
    min-width: 650px !important;
}

.modal-header {
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
}

.table-hover tbody tr:hover {
    background-color: #616161 !important;
}
