.navbar {
    background-color: #8e7cc3;
    height: 1%;
    flex-direction: row;
}

.desktop {
    display: none;
}

.mobile {
    display: block;
}

.toogle {
    width: 10%;
}

.container-text {
    padding-top: 2%;
    width: 80%;
}

.fs-1 {
    font-size: 1.6em;
    color: #fff;
    width: 100%;
}

.navbar__toogle {
    background: transparent;
    height: 1.5rem;
    border: 0.15rem solid #fff;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    position: relative;
    width: 2rem;
}

.navbar__toogle:after {
    background: #fff;
    content: "";
    height: 0.15rem;
    left: 0;
    margin-top: -0.075rem;
    position: absolute;
    top: 50%;
    width: 100%;
}

@media (min-width: 1024px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
    .fs-1 {
        padding-top: 1%;
    }

    .container-text {
        padding-top: 0%;
        width: 80%;
    }
}
