/* .navbar__toogle {
    background: transparent;
    border: 0.15rem solid #fff;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    font-size: 0;
    height: 1.5rem;
    margin-right: 1rem;
    position: relative;
    width: 2rem;
}

.navbar__toogle:after {
    background: #fff;
    content: "";
    height: 0.15rem;
    left: 0;
    margin-top: -0.075rem;
    position: absolute;
    top: 50%;
    width: 100%;
}

.navbar {
    background-color: #8e7cc3;
}

.sidebar {
    position: fixed;
}

h3 a {
    padding-top: 0%;
    font-size: 1em;
    color: #05263c;
}

h3 {
    text-align: center;
}

.row-navbar {
    width: 100%;
}

.content .rounded,
.new-content {
    height: 100%;
}

.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:link,
.dropdown-toggle:focus,
.dropdown-toggle:focus-visible {
    background-color: transparent !important;
    border: 0px !important;
    margin-left: 15%;
}

.dropdown-menu {
    margin-left: 15%;
    background-color: #8e7cc3;
}

.dropdown-menu a {
    color: #fff;
}

.dropdown-menu a:hover {
    color: #616161;
}

.div-navbar-logo {
    display: none;
}

.div-profile {
    left: 15%;
}

.div-content {
    margin-top: 20%;
}

@media (min-width: 1024px) {
    .div-navbar-logo {
        display: block;
    }

    .div-profile {
        left: 0%;
    }

    .dropdown-toggle {
        padding-left: 50%;
    }

    .dropdown-menu {
        margin-left: 65%;
    }

    .div-content {
        margin-top: inherit;
    }
} */