<div class="container">
    <div class="scenario-header">
        <div class="row">
            <div class="col">
                <h3 class="title"> Scenarios </h3>
            </div>
            <div class="col text-right">
                <button class="btn btn-primary btn-add" (click)="onAddScenario()" *ngIf="isUserAdmin()"> + Scenario
                </button>
            </div>
        </div>
    </div>
    <div class="search-form row">
        <div class="col-10">
            <form class="form mt-3" [formGroup]="getFormGroup()">
                <div class="form-row">
                    <div class="form-group col-md-8">

                        <label for="name">Search</label>
                        <div class="input-group">
                            <input type="text" id="q" class="form-control" formControlName="q">
                            <div class="input-group-text">
                                <img src="https://img.icons8.com/color/24/000000/search--v1.png" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4 d-flex align-items-end">
                        <button class="btn btn-link btn-clear" (click)="clearSearch()"><i class="fa fa-times"
                                aria-hidden="true"></i></button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col table-bg">
            <table class="table table-hover table-scenarios">
                <thead class="thead-dark">
                    <tr>

                        <th scope="col">
                            Name
                        </th>

                        <th scope="col">
                            Arrhythmias
                        </th>
                        <th scope="col">
                            Pathologies
                        </th>
                        <th scope="col">
                            Medications
                        </th>
                        <th scope="col" *ngIf="isUserAdmin()">

                        </th>

                    </tr>
                </thead>
                <tbody>
                    <!-- Loading -->
                <tbody *ngIf="isLoading()">
                    <tr>
                        <td colspan="7">
                            Loading...
                        </td>
                        <!-- / Loading -->
                    </tr>

                </tbody>
                <tbody *ngIf="!isLoading() && scenarios">
                    <tr *ngFor="let scenario of scenarios; let i=index">
                        <td scope="row">
                            {{scenario.name}}
                        </td>

                        <td scope="row" class="row-arrh">
                            {{scenario.arrhythmias | arrayJson }}
                        </td>

                        <td scope="row" class="row-pat">
                            {{scenario.pathologies | arrayJson }}
                        </td>

                        <td scope="row" class="row-med">
                            <ng-template [ngIf]="!scenario.medications">
                                -
                            </ng-template>
                            <ng-template [ngIf]="scenario.medications">
                                {{scenario.medications | arrayJson: 'medications' }}
                            </ng-template>
                        </td>
                        <td scope="row" class="text-right" *ngIf="isUserAdmin()">
                            <button class="btn btn-light" (click)="onEdit(scenario.id_scenario)">
                                <img
                                    src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/18/000000/external-pencil-interface-kiranshastry-lineal-color-kiranshastry-1.png" />
                            </button>
                            <span>
                                <button class="btn btn-trash btn-light ml-2"
                                    (click)="onDelete(scenario.id_scenario, i)">
                                    <img src="https://img.icons8.com/color/18/000000/trash--v1.png" />
                                </button>
                            </span>
                            <span>
                                <button class="btn btn-trash btn-light ml-2" (click)="onClone(i)">
                                    <img src="/assets/icons/copy.png" />
                                </button>
                            </span>

                        </td>

                    </tr>
                </tbody>
                <tbody *ngIf="!isLoading() && (!scenarios || scenarios.length === 0)">
                    <tr>
                        <td colspan="7">
                            Nothing to show you.
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-2">
            <ngb-pagination class="paginator" *ngIf="!isLoading() && (paginatorData.totalPages > queryOptions.pageSize)"
                [collectionSize]="paginatorData.totalPages" [(page)]="queryOptions.page"
                [maxSize]="queryOptions.pageSize" [ellipses]="true" [pageSize]="queryOptions.pageSize"
                (pageChange)="onPageChange()">
            </ngb-pagination>
        </div>

    </div>

</div>
