<div class="container">
    <div class="scenario-header">
        <div class="row">
            <div class="col">
                <h3 class="title"> Clinical Scenarios </h3>
            </div>
            <div class="col text-right">
                <button class="btn btn-primary btn-add" (click)="onAddScenario()" *ngIf="isUserAdmin()"> + Clinical
                    Scenario
                </button>
            </div>
        </div>
    </div>
    <div class="search-form row">
        <div class="col-10">
            <form class="form mt-3" [formGroup]="getFormGroup()">
                <div class="form-row">
                    <div class="form-group col-md-8">

                        <div class="input-group">
                            <div class="input-group-text">
                                <img src="https://img.icons8.com/ios-filled/20/7950F2/search--v1.png" />
                            </div>
                            <input type="text" id="q" class="form-control" formControlName="q"
                                placeholder="Start typing to search clinical scenarios">
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col table-bg">
            <table class="table table-hover table-scenarios">
                <thead class="thead-sc">
                    <tr>

                        <th scope="col">
                            Name
                        </th>

                        <th scope="col">
                            Arrhythmias
                        </th>
                        <th scope="col">
                            Pathologies
                        </th>
                        <th scope="col">
                            Medications
                        </th>
                        <th scope="col" *ngIf="isUserAdmin()">

                        </th>

                    </tr>
                </thead>
                <tbody>
                    <!-- Loading -->
                <tbody *ngIf="isLoading()">
                    <tr>
                        <td colspan="7">
                            Loading...
                        </td>
                        <!-- / Loading -->
                    </tr>

                </tbody>
                <tbody *ngIf="!isLoading() && scenarios">
                    <tr *ngFor="let scenario of scenarios; let i=index">
                        <td scope="row">
                            {{scenario.name}}
                        </td>

                        <td scope="row" class="row-arrh">
                            {{scenario.arrhythmias | arrayJson }}
                        </td>

                        <td scope="row" class="row-pat">
                            {{scenario.pathologies | arrayJson }}
                        </td>

                        <td scope="row" class="row-med">
                            <ng-template [ngIf]="!scenario.medications">
                                -
                            </ng-template>
                            <ng-template [ngIf]="scenario.medications">
                                {{scenario.medications | arrayJson: 'medications' }}
                            </ng-template>
                        </td>

                        <td scope="row" *ngIf="isUserAdmin()">
                            <div class="row justify-content-center">
                                <div class="col-3 edit-img" (click)="onEdit(i)" >
                                    <img src="/assets/icons/pencil.png" placement="top" ngbTooltip="Edit"/>
                                </div>
                                <div class="col-3 delete-img" (click)="onDelete(scenario.id_scenario, i)">
                                    <img src="/assets/icons/trash.png"  placement="top" ngbTooltip="Delete"/>
                                </div>
                                <div class="col-3 delete-img clone-img" (click)="onClone(i)" >
                                    <img src="/assets/icons/copy.png" placement="top" ngbTooltip="Clone"/>
                                </div>
                            </div>
                        </td>

                    </tr>
                </tbody>
                <tbody *ngIf="!isLoading() && (!scenarios || scenarios.length === 0)">
                    <tr>
                        <td colspan="7">
                            Nothing to show you.
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-2">
            <ngb-pagination class="paginator" *ngIf="!isLoading() && (paginatorData.totalPages > queryOptions.pageSize)"
                [collectionSize]="paginatorData.totalPages" [(page)]="queryOptions.page"
                [maxSize]="queryOptions.pageSize" [ellipses]="true" [pageSize]="queryOptions.pageSize"
                (pageChange)="onPageChange()">
            </ngb-pagination>
        </div>

    </div>

</div>
