@font-face {
    font-family: "Delivery";
    font-style: normal;
    font-weight: 400;
    src: url("../src/assets/fonts/Delivery/Latin_Greek_Cyrillic/Web/EOT/Delivery_W_Rg.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../src/assets/fonts/Delivery/Latin_Greek_Cyrillic/Web/EOT/Delivery_W_Rg.eot")
            format("embedded-opentype"),
        /* IE6-IE8 */
            url("../src/assets/fonts/Delivery/Latin_Greek_Cyrillic/Web/WOFF2/Delivery_W_Rg.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("../src/assets/fonts/Delivery/Latin_Greek_Cyrillic/Web/WOFF/Delivery_W_Rg.woff")
            format("woff"),
        /* Modern Browsers */
            url("../src/assets/fonts/Delivery/Latin_Greek_Cyrillic/App/Delivery_A_Rg.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../src/assets/fonts/Delivery/Latin_Greek_Cyrillic/Web/SVG/Delivery_W_Rg.svg")
            format("svg"); /* Legacy iOS */
}

* {
    font-family: "Delivery";
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background: #dae2f8; /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #dae2f8, #b7a9e2);
    background: linear-gradient(
        to right,
        #dae2f8,
        #b7a9e2
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html,
body {
    height: 100%;
}

@media (max-width: 600px) {
    .modal-small {
        max-width: 90% !important;
        margin-left: 2%;
    }

}

.fs-1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #8e7cc3;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 50px;
}
