<div class="container">
    <div class="profile-header">
        <div class="row">
            <div class="col">
                <h3 class="title"> My Profile </h3>
            </div>

        </div>
    </div>
</div>

<div class="container form-data">


    <form [formGroup]="getForm()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <div class="input-group">
                    <div class="input-group-text">
                        <img src="/assets/icons/email.png" />
                    </div>
                    <input type="email" class="form-control" id="email" name="email" formControlName="email">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <div class="input-group">
                    <button class="btn btn-primary btn-register" (click)="onChangePassword()">Change password</button>
                </div>

            </div>
        </div>
        <div class="form-group">
            <label for="inputName">Name</label>
            <div class="input-group">
                <div class="input-group-text">
                    <img src="/assets/icons/employee-card.png" />
                </div>
                <input type="text" class="form-control" id="inputName" name="name" formControlName="name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputSurname">Surname</label>
            <div class="input-group">
                <div class="input-group-text">
                    <img src="/assets/icons/employee-card.png" />
                </div>
                <input type="text" class="form-control" id="inputSurname" name="surname" formControlName="surname">
            </div>
        </div>
        <div class="form-group">
            <label for="inputInstitution"> Institution </label>
            <div class="input-group">
                <div class="input-group-text">
                    <img src="/assets/icons/organization.png" />
                </div>
                <input type="text" class="form-control" id="inputInstitution" formControlName="institution">
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-register" *ngIf="getForm().valid"
            (click)="onSubmit()"> Update
            profile</button>
        <button type="submit" class="btn btn-primary btn-block btn-register" *ngIf="!getForm().valid" disabled>
            Update profile

        </button>
    </form>
</div>
