h3 {
    font-size: 2em;
    text-align: left;
}

.med-header {
    margin-top: 3%;
}

.table-hover tbody tr:hover {
    background-color: #616161;
}

.table-med,
.table-med tr {
    border: 2px solid #272626;
}

.btn-search,
.btn-add {
    background-color: #42336e;
    border: 1px solid #42336e;
}

.btn-search:hover,
.btn-add:hover {
    background-color: #fff;
    color: #42336e;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
    background-color: #42336e !important;
    color: #fff;
}
ngb-pagination ::ng-deep ul > li.active > a {
    background-color: #fff !important;
    color: #42336e !important;
}
