
  <!-- Contenido lateral -->


      <img src="../../../assets/logo transparente.png">
      <br>
      <br>
      <br>
      <h3 class="font-weight-bold text-center"> SimVet </h3>
      <br>
      <section class="container">
        <h4 class="font-weight-bold text-align-center"> Simulation </h4>
      </section>

      <ul class="list-group">

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/panel']"> <img src="https://img.icons8.com/bubbles/28/000000/new.png"/> New </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/panel']"> <img src="https://img.icons8.com/dusk/28/000000/admin-settings-male.png"/> Manage simulations </a>
        </li>

      </ul>

      <br>

      <section #manageDatabase class="container">
        <h4 class="font-weight-bold text-align-center"> Manage DataBase </h4>
      </section>

      <ul class="list-group">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/panel/animalSpecie']"> <img src="https://img.icons8.com/color/28/000000/dog.png"/> Animal Species</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/panel']"> <img src="https://img.icons8.com/color/28/000000/microorganisms.png"/> Pathologies </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/panel']"> <img src="https://img.icons8.com/color/28/000000/pills.png"/> Medications</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/panel']"> <img src="https://img.icons8.com/color/28/000000/pulse.png"/> Arrhythmias </a>
        </li>
      </ul>

      <br>
      <section class="container">

        <a class="nav-link" [routerLink]="['/panel']"> <h4 class="font-weight-bold text-align-center">  My Profile </h4></a>

      </section>
