h3 {
    font-size: 2em;
    text-align: left;
}

.path-header {
    margin-top: 3%;
}

.table-hover tbody tr:hover {
    background-color: #8e7cc3;
    color: #fff;
}

.input-group-text {
    background-color: #fff;
    border-color: #fff;
}
.edit-img {
    cursor: pointer;
}

.delete-img {
    padding-left: 4px;
    cursor: pointer;
}
input {
    border: none;
}

.input-group {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #fff;
}

.thead-path {
    background-color: #49377e;
    color: #fff;
}

.btn-search,
.btn-add {
    background-color: #42336e;
    border: 1px solid #42336e;
}

.btn-search:hover,
.btn-add:hover {
    background-color: #fff;
    color: #42336e;
}

.row-descr {
    max-width: 200px;
    overflow: auto;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
    background-color: #42336e !important;
    color: #fff;
}
ngb-pagination ::ng-deep ul > li.active > a {
    background-color: #fff !important;
    color: #42336e !important;
}

.extrainfo-row {
    max-width: 200px;
    overflow: auto;
}
