<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="modal-header">
        <ng-template [ngIf]="med">
            <h3>Edit Medication</h3>
        </ng-template>
        <ng-template [ngIf]="!med">
            <h3>Create Medication</h3>
        </ng-template>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="name" formControlName="name">
                <app-message *ngIf="isSubmitForm()" [errors]="getErrors()" [key]="'name'"></app-message>
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-3 col-form-label">Description</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="description" formControlName="description">
                <app-message *ngIf="isSubmitForm()" [errors]="getErrors()" [key]="'description'"></app-message>
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-3 col-form-label">Extra information</label>
            <div class="col-sm-8">
                <textarea row="4" class="form-control" id="extraInfo" formControlName="extraInformation">
                </textarea>
                <app-message *ngIf="isSubmitForm()" [errors]="getErrors()" [key]="'description'"></app-message>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-save" *ngIf="formGroup.valid">Save changes</button>
            <button type="submit" class="btn btn-primary btn-save" *ngIf="!formGroup.valid" disabled>Save
                changes</button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>

    </div>

</form>
